table.myCustomizedVkt {
	border-collapse: initial;
	background-color: #1F497D;
}

/* Keyboard fonts *****************************************************************/
table.myCustomizedVkt tbody tr td table tbody tr td {
	font-family: 'Arial Unicode MS', 'Lucida Sans Unicode', 'Trebuchet MS', sans-serif;
	background-color: #1F497D;
	font-color: white;
}

/* Keyboard default size **********************************************************/
table.myCustomizedVkt.keyboardInputSize1,
table.myCustomizedVkt.keyboardInputSize1 * {
	font-size:20px !important;
  background-color: white;
  color:#1F497D;
}
table.myCustomizedVkt.keyboardInputSize2,
table.myCustomizedVkt.keyboardInputSize2 * {
  font-size:24px !important;
  background-color: white;
  color:#1F497D;
}
table.myCustomizedVkt,
table.myCustomizedVkt * {
	font-size:26px !important;
  background-color: white;
  color:#1F497D;
}
table.myCustomizedVkt.keyboardInputSize3,
table.myCustomizedVkt.keyboardInputSize3 * {
	font-size:32px !important;
  background-color: white;
  color:#1F497D;
}
table.myCustomizedVkt.keyboardInputSize4,
table.myCustomizedVkt.keyboardInputSize4 * {
	font-size:38px !important;
  background-color: white;
  color:#1F497D;
}
table.myCustomizedVkt.keyboardInputSize5,
/***
QUI SI CAMBIA LO SFONDO
**/
table.myCustomizedVkt.keyboardInputSize5 * {
	font-size:44px !important;
	background-color: white;
	
	/*** 
	è questo
	***/
	color:#1F497D;
}

/* Keyboard background ************************************************************/
table.myCustomizedVkt thead tr th {
	/*background-color: #171717;*/
	background-color: #1F497D;
	color: white;
}
table.myCustomizedVkt {
    /*background: url(../images/bkgp.jpg);*/
    background-color: #1F497D;
    color: white;
    /*color:#1F497D;*/
}

/* Keyboard buttons ***************************************************************/
table.myCustomizedVkt tbody tr td table tbody tr td {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	/*background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);*/

	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, white), color-stop(1, white));
	background:-moz-linear-gradient(top, #ededed 5%, white 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, white 100%);
	background:-o-linear-gradient(top, #ededed 5%, white 100%);
	background:-ms-linear-gradient(top, #ededed 5%, white 100%);
	background:linear-gradient(to bottom, #ededed 5%, white 100%);


	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	/*background-color:#ededed;*/
	background-color:#1F497D;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	cursor:pointer;
	/*color:#171717;*/
	color: white;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
table.myCustomizedVkt tbody tr td table tbody tr td:hover {
/*	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);*/

	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, white), color-stop(1, #white));
	background:-moz-linear-gradient(top, #ffffff 5%, white 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, white 100%);
	background:-o-linear-gradient(top, #ffffff 5%, white 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, white 100%);
	background:linear-gradient(to bottom, #ffffff 5%, white 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='white',GradientType=0);


	color: white;
	/*background-color:#dfdfdf;*/
	background-color:#ffffff;
}
table.myCustomizedVkt tbody tr td table tbody tr td:active {
	position:relative;
	top:1px;
	color: white;
}

/* Head buttons *******************************************************************/
table.myCustomizedVkt thead tr th {
	padding: 5px;
	color: white;
}

table.myCustomizedVkt thead tr th span,
table.myCustomizedVkt thead tr th strong,
table.myCustomizedVkt thead tr th small,
table.myCustomizedVkt thead tr th big {
	/*background-color: #ededed;*/
	background-color: #ffffff;
	color: white;
}

table.myCustomizedVkt thead tr th span:hover,
table.myCustomizedVkt thead tr th strong:hover,
table.myCustomizedVkt thead tr th small:hover,
table.myCustomizedVkt thead tr th big:hover {
	/*background-color:#dfdfdf;*/
	background-color: #ffffff;
	color: white;
}

/* Panel border radius ************************************************************/
table.myCustomizedVkt,
table.myCustomizedVkt thead tr th {
    -webkit-border-top-left-radius: 0em;
    -webkit-border-top-right-radius: 0em;
    -moz-border-top-left-radius: 0em;
    -moz-border-top-right-radius: 0em;
    border-top-left-radius: 0em;
    border-top-right-radius: 0em;

    border: none;
    color: white;
}












table.keyboardInputMaster {
  position:absolute;
  font:normal 16px Arial,sans-serif;
  border-top:1px solid #eeeeee;
  border-right:1px solid #888888;
  border-bottom:1px solid #444444;
  border-left:1px solid #cccccc;
  -webkit-box-shadow:0px 2px 10px #444444;
  -moz-box-shadow:0px 2px 10px #444444;
  box-shadow:0px 2px 10px #444444;
  opacity:0.95;
  filter:alpha(opacity=95);
  background-color: white;
  color:#1F497D;
  text-align:left;
  z-index:1000000;
  width:auto;
  height:auto;
  min-width:0;
  min-height:0;
  margin:0px;
  padding:0px;
  line-height:normal;
  -moz-user-select:none;
  cursor:default;
}
table.keyboardInputMaster {
  -webkit-border-top-left-radius:0.6em;
  -webkit-border-top-right-radius:0.6em;
  -moz-border-top-left-radius:0.6em;
  -moz-border-top-right-radius:0.6em;
  border-top-left-radius:0.6em;
  border-top-right-radius:0.6em;
}
table.keyboardInputMaster.relativeKeyboard {
  -webkit-border-radius:0.6em;
  -moz-border-radius:0.6em;
  border-radius:0.6em;
}

table.keyboardInputMaster * {
  position:static;
  background-color: white;
  color:#1F497D;
  background:transparent;
  font:normal 16px Arial,sans-serif;
  width:auto;
  height:auto;
  min-width:0;
  min-height:0;
  margin:0px;
  padding:0px;
  border:0px none;
  outline:0px;
  vertical-align:baseline;
  line-height:1.3em;
}
table.keyboardInputMaster table {
  table-layout:auto;
  background-color: white;
  color:#1F497D;
}
table.keyboardInputMaster.keyboardInputSize1,
table.keyboardInputMaster.keyboardInputSize1 * {
  font-size:13px;
  background-color: white;
  color:#1F497D;
}
table.keyboardInputMaster.keyboardInputSize3,
table.keyboardInputMaster.keyboardInputSize3 * {
  font-size:20px;
  background-color: white;
  color:#1F497D;
}
table.keyboardInputMaster.keyboardInputSize4,
table.keyboardInputMaster.keyboardInputSize4 * {
  font-size:24px;
  background-color: white;
  color:#1F497D;
}
table.keyboardInputMaster.keyboardInputSize5,
table.keyboardInputMaster.keyboardInputSize5 * {
  font-size:28px;
  background-color: white;
  color:#1F497D;
}

table.keyboardInputMaster thead tr th {
  padding:0.3em 0.3em 0.1em 0.3em;
  background-color: white;
  color:#1F497D;
  white-space:nowrap;
  text-align:right;
}
table.keyboardInputMaster thead tr th {
  -webkit-border-radius:0.6em 0.6em 0px 0px;
  -moz-border-radius:0.6em 0.6em 0px 0px;
  border-radius:0.6em 0.6em 0px 0px;
}
table.keyboardInputMaster thead tr th div {
  float:left;
  font-size:130% !important;
  height:1.3em;
  font-weight:bold;
  position:relative;
  z-index:1;
  margin-right:0.5em;
  cursor:pointer;
  background-color:transparent;
}
table.keyboardInputMaster thead tr th div ol {
  position:absolute;
  left:0px;
  top:90%;
  list-style-type:none;
  height:9.4em;
  overflow-y:auto;
  overflow-x:hidden;
  background-color: white;
  color:#1F497D;
  border:1px solid #999999;
  display:none;
  text-align:left;
  width:12em;
}
table.keyboardInputMaster thead tr th div ol li {
  padding:0.2em 0.4em;
  cursor:pointer;
  white-space:nowrap;
  width:12em;
}
table.keyboardInputMaster thead tr th div ol li.selected {
  background-color: white;
  color:#1F497D;
}
table.keyboardInputMaster thead tr th div ol li:hover,
table.keyboardInputMaster thead tr th div ol li.hover {
  background-color: white;
  color:#1F497D;
}
table.keyboardInputMaster thead tr th span,
table.keyboardInputMaster thead tr th strong,
table.keyboardInputMaster thead tr th small,
table.keyboardInputMaster thead tr th big {
  display:inline-block;
  padding:0px 0.4em;
  height:1.4em;
  line-height:1.4em;
  border-top:1px solid #e5e5e5;
  border-right:1px solid #5d5d5d;
  border-bottom:1px solid #5d5d5d;
  border-left:1px solid #e5e5e5;
  background-color:#cccccc;
  cursor:pointer;
  margin:0px 0px 0px 0.3em;
  -webkit-border-radius:0.3em;
  -moz-border-radius:0.3em;
  border-radius:0.3em;
  vertical-align:middle;
  -webkit-transition:background-color .15s ease-in-out;
  -o-transition:background-color .15s ease-in-out;
  transition:background-color .15s ease-in-out;
}
table.keyboardInputMaster thead tr th strong {
  font-weight:bold;
}
table.keyboardInputMaster thead tr th small {
  -webkit-border-radius:0.3em 0px 0px 0.3em;
  -moz-border-radius:0.3em 0px 0px 0.3em;
  border-radius:0.3em 0px 0px 0.3em;
  border-right:1px solid #aaaaaa;
  padding:0px 0.2em 0px 0.3em;
}
table.keyboardInputMaster thead tr th big {
  -webkit-border-radius:0px 0.3em 0.3em 0px;
  -moz-border-radius:0px 0.3em 0.3em 0px;
  border-radius:0px 0.3em 0.3em 0px;
  border-left:0px none;
  margin:0px;
  padding:0px 0.3em 0px 0.2em;
}
table.keyboardInputMaster thead tr th span:hover,
table.keyboardInputMaster thead tr th span.hover,
table.keyboardInputMaster thead tr th strong:hover,
table.keyboardInputMaster thead tr th strong.hover,
table.keyboardInputMaster thead tr th small:hover,
table.keyboardInputMaster thead tr th small.hover,
table.keyboardInputMaster thead tr th big:hover,
table.keyboardInputMaster thead tr th big.hover {
  background-color: white;
  color:#1F497D;
}

table.keyboardInputMaster tbody tr td {
  text-align:left;
  padding:0.2em 0.3em 0.3em 0.3em;
  vertical-align:top;
}
table.keyboardInputMaster tbody tr td div {
  text-align:center;
  position:relative;
  zoom:1;
}
table.keyboardInputMaster tbody tr td table {
  white-space:nowrap;
  width:100%;
  border-collapse:separate;
  border-spacing:0px;
}
table.keyboardInputMaster tbody tr td.keyboardInputNumpad table {
  margin-left:0.2em;
  width:auto;
}
table.keyboardInputMaster tbody tr td table.keyboardInputCenter {
  width:auto;
  margin:0px auto;
}

table.keyboardInputMaster tbody tr td table tbody tr td {
  vertical-align:middle;
  padding:0px 0.45em;
  white-space:pre;
  height:1.8em;
  font-family:'Lucida Console','Arial Unicode MS',monospace;
  border-top:1px solid #e5e5e5;
  border-right:1px solid #5d5d5d;
  border-bottom:1px solid #5d5d5d;
  border-left:1px solid #e5e5e5;
  /*background-color:#eeeeee;*/
  background-color: white;
  color:#1F497D;
  cursor:default;
  min-width:0.75em;
  -webkit-border-radius:0.2em;
  -moz-border-radius:0.2em;
  border-radius:0.2em;
  -webkit-transition:background-color .15s ease-in-out;
  -o-transition:background-color .15s ease-in-out;
  transition:background-color .15s ease-in-out;
}
table.keyboardInputMaster.relativeKeyboard tbody tr td table tbody tr td.last {
  width:99%;
}
table.keyboardInputMaster tbody tr td table tbody tr td.space {
  padding:0px 4em;
}
table.keyboardInputMaster tbody tr td table tbody tr td.deadkey {
  background-color: white;
  color:#1F497D;
}
table.keyboardInputMaster tbody tr td table tbody tr td.target {
  background-color: white;
  color:#1F497D;
}
table.keyboardInputMaster tbody tr td table tbody tr td:hover,
table.keyboardInputMaster tbody tr td table tbody tr td.hover {
  border-top:1px solid #d5d5d5;
  border-right:1px solid #555555;
  border-bottom:1px solid #555555;
  border-left:1px solid #d5d5d5;
  /*background-color:#cccccc;*/
  background-color: white;
  color:#1F497D;
}
table.keyboardInputMaster thead tr th span:active,
table.keyboardInputMaster thead tr th span.pressed,
table.keyboardInputMaster tbody tr td table tbody tr td:active,
table.keyboardInputMaster tbody tr td table tbody tr td.pressed {
  border-top:1px solid #555555 !important;
  border-right:1px solid #d5d5d5;
  border-bottom:1px solid #d5d5d5;
  border-left:1px solid #555555;
  /*background-color:#cccccc;*/
  background-color: white;
  color:#1F497D;
}

table.keyboardInputMaster tbody tr td table tbody tr td small {
  display:block;
  text-align:center;
  font-size:0.6em !important;
  line-height:1.1em;
}

table.keyboardInputMaster tbody tr td div label {
  position:absolute;
  bottom:0.2em;
  left:0.3em;
}
table.keyboardInputMaster tbody tr td div label input {
  background-color: white;
  color:#1F497D;
  vertical-align:middle;
  font-size:inherit;
  width:1.1em;
  height:1.1em;
}
table.keyboardInputMaster tbody tr td div var {
  position:absolute;
  bottom:0px;
  right:3px;
  font-weight:bold;
  font-style:italic;
  background-color: white;
  color:#1F497D;
}

.keyboardInputInitiator {
  margin:0px 3px;
  vertical-align:middle;
  cursor:pointer;
}

.keyboardsArea table {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
