/*Vecchio colore: #1583A6*/

@media (min-width: 800px) {
    .container-fluid{
        max-width: 800px;
        border:dashed 2px #1F497D;
    }
}

@media (min-height: 480px) {
    .container-fluid{
        max-height: 480px;
    }
}

body {
 font: 'Gotham Book', Gotham-Book, Arial, sans-serif;
 font-size: 16;
}

.container-fluid {
    height: 100%;
    overflow-y: hidden; /* don't show content that exceeds my height */
}

.row-centered {
    text-align:center;
}

.row-right {
    text-align:right;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}

.col-right {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:right;
    /* inline-block space fix */
    margin-right:-4px;
}

.col-left {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-left: 4px;
}


.cm {
  color: #1F497D
}



.md-icon {
  padding:40px;
}

.s64 {
  font-size:64px;
}

.s32 {
  
  font-size:48px;

}

md-icon.fa {
  display:block;
  padding-left:0px;
}

md-icon.s32 span {
  padding-left:8px;
}

h4 {
  color: #1F497D;  
}

p {
  color: #1F497D;
}

p.min {
  font-size:14px;

}

.img-center {
    display: block;
    margin: 0 auto;
}




.tabsDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsDynamicHeight md-content h1:first-child {
    margin-top: 0; }



/*div.shutdown {
    position: absolute;
    top: 380px;
    left: 350px;
    width: 40px;
    height: 40px;
}

div.shutdownMessage {
    position: absolute;
    top: 435px;
    left: 200px;
    width: 400px;
    height: 20px;
    text-align: center;
}

*/

div.shutdown {
    position: absolute;
    top: 409px;
    left: 350px;
    width: 40px;
    height: 40px;
}

div.shutdownMessage {
    position: absolute;
    top: 425px;
    left: 300px;
    width: 400px;
    height: 20px;
    text-align: right;
}

div.logo {
    position: absolute;
    top: 10px;
    left: 0px;
    color: #1F497D
}

/*******************************************
INIZIO PAGINA SPLASH
*******************************************/
div.splash {
    position: absolute;
    top: 160px;
    left: 0px;
    width: 800px
}

div.calibButton {
    position: absolute;
    top: 280px;
    left: 340px
}

div.calibMessage {
    position: absolute;
    top: 305px;
    left: 300px;
    width: 200px
}

div.langButton {
    position: absolute;
    top: 280px;
    left: 700px
}

div.langMessage {
    position: absolute;
    top: 305px;
    left: 700px;
    width: 200px
    text-align: right;
}



/*******************************************
FINE PAGINA SPLASH
*******************************************/



/*******************************************
INIZIO SEZIONE CALIBRAZIONE
*******************************************/
div.verifyCalib {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 640px;
    text-align: left;
}


div.vcOkButton {
    position: absolute;
    top: 350px;
    left: 20px; 
    width: 100px;
}

div.vcStopButton {
    position: absolute;
    top: 350px;
    left: 100px; 
    width: 100px;   
}

div.vcIstructions {
    position: absolute;
    top: 160px;
    left: 20px; 
    width: 400px;
}

div.vcWarning {
    position: absolute;
    top: 240px;
    left: 20px; 
    width: 400px;
}

div.vcInput {
    position: absolute;
    top: 250px;
    left: 20px; 
    width: 400px;
}

div.vcCalibrationTable {
    position: absolute;
    top: 160px;
    left: 600px; 
    width: 100px;
}


/*******************************************
FINE SEZIONE CALIBRAZIONE
*******************************************/


/*******************************************
INIZIO PAGINA SELEZIONE PROTOCOLLO
*******************************************/
div.spSheet {
    position: absolute;
    top: 100px;
    left: 20px; 
    width: 660px;
}

div.spOkButton {
    position: absolute;
    top: 320px;
    left: 650px; 
}

div.spSwitch {
    position: absolute;
    top: 150px;
    left: 620px;
}


/*******************************************
FINE PAGINA SELEZIONE PROTOCOLLO
*******************************************/





/*******************************************
INIZIO PAGINA PROTOCOLLO
*******************************************/
div.prCamera {
    position: absolute;
    top: 60px;
    left: 60px; 
    width: 600px;
    height: 150px;
}

div.prBack {
    position: absolute;
    top: 409px;
    left: 10px;
    width: 40px;
    height: 40px;
}

div.prDescription {
    position: absolute;
    top: 90px;
    left: 580px; 
    width: 180px;
    height: 80px;
    text-align: left;
    color: #1F497D;
}

div.prPhase {
    position: absolute;
    top: 120px;
    left: 580px; 
    width: 180px;
    height: 80px;
    text-align: left;
    color: #1F497D;
    
}


div.prTime {
    position: absolute;
    top: 390px;
    left: 580px; 
    width: 180px;
    height: 80px;
    text-align: center;
    color: #1F497D;
}


div.prStart {
    position: absolute;
    top: 400px;
    left: 500px; 
    width: 180px;
    height: 80px;
    text-align: center;
    color: #1F497D;
}


div.prPause {
    position: absolute;
    top: 400px;
    left: 660px; 
    width: 180px;
    height: 80px;
    text-align: center;
    color: #1F497D;
}

div.prWhiteLed {
    position: absolute;
    top: 15px;
    left: 580px; 
    width: 180px;
    height: 80px;
    text-align: left;
    color: #1F497D;
    
}
/*******************************************
FINE PAGINA PROTOCOLLO
*******************************************/



/*******************************************
INIZIO PAGINA REPORT
*******************************************/
div.reportHeader {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 640px;
    text-align: left;
}

/*******************************************
FINE PAGINA REPORT
*******************************************/