/*Vecchio colore: #1583A6*/

/*@media (min-width: 1280px) {
    .container-fluid{
        max-width: 1280px;
        border:dashed 2px #1F497D;
    }
}

@media (min-height: 790px) {
    .container-fluid{
        max-height: 700px;
    }
}*/

@media (min-width: 1920px) {
    .container-fluid{
        max-width: 1920px;
        /*border:dashed 2px #1F497D;*/
    }
}

@media (min-height: 1200px) {
    .container-fluid{
        max-height: 1200px;
    }
}

body {
 font-family: Helvetica, 'Gotham Book', Gotham-Book, Arial, sans-serif;
 font-size: 32px;
}


.container-fluid {
    height: 100%;
    overflow-y: hidden; /* don't show content that exceeds my height */
}

.row-centered {
    text-align:center;
}

.row-right {
    text-align:right;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}

.col-right {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:right;
    /* inline-block space fix */
    margin-right:-4px;
}

.col-left {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-left: 4px;
}


.cm {
  color: #1F497D
}



.md-icon {
  padding:40px;
}

.s64 {
  font-size:64px;
}

.s32 {
  
  font-size:48px;

}

md-icon.fa {
  display:block;
  padding-left:0px;
}

md-icon.s32 span {
  padding-left:8px;
}

h4 {
  color: #1F497D;  
}

p {
  color: #1F497D;
  font-size:28px;
}

p.min {
  font-size:20px;
}

p.normal {
  font-size:30px;
}

.img-center {
    display: block;
    margin: 0 auto;
}




.tabsDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsDynamicHeight md-content h1:first-child {
    margin-top: 0; }



/*div.shutdown {
    position: absolute;
    top: 380px;
    left: 350px;
    width: 40px;
    height: 40px;
}

div.shutdownMessage {
    position: absolute;
    top: 435px;
    left: 200px;
    width: 400px;
    height: 20px;
    text-align: center;
}

*/

div.shutdown {
    position: absolute;
    top: 675px;
    left: 560px;
    width: 40px;
    height: 40px;
}

div.shutdownMessage {
    position: absolute;
    top: 760px;
    left: 480px;
    width: 640px;
    height: 32px;
    text-align: right;
}

div.logo {
    position: absolute;
    top: 10px;
    left: 0px;
    color: #1F497D
}

@keyframes blink{
  from {opacity: 1;} 
  to {opacity: 0; } 
}

div.checkConnection {
    position: absolute;
    top: 710px;
    left: 1190px;
    width: 40px;
    height: 40px;
    animation: blink 1.5s infinite 100ms;
}

/*******************************************
INIZIO PAGINA SPLASH
*******************************************/
div.splash {
    position: absolute;
    top: 256px;
    left: 0px;
    width: 1280px
}

div.calibMessage {
    position: absolute;
    top: 488px;
    left: 30px;
    width: 200px
}

div.calibButton {
    position: absolute;
    top: 448px;
    left: 64px
}

div.splashBar {
    position: absolute;
    top: 488px;
    left: 510px;
    width: 200px
}

div.spWarningCalib {
    position: absolute;
    top: 620px;
    left: 105px
}


div.treamentsMessage {
    position: absolute;
    top: 488px;
    left: 510px;
    width: 200px
}

div.treatmentsButton {
    position: absolute;
    top: 448px;
    left: 544px
}

div.ReportsButton {
    position: absolute;
    top: 448px;
    left: 1120px
}

div.archiveMessage {
    position: absolute;
    top: 488px;
    left: 1100px;
    width: 200px
    text-align: right;
}

div.langFlagBox {
    position: absolute;
    top: 160px;
    left: 20px; 
    width: 1280px;
    height: 500px;
    overflow-x:hidden; 
    overflow-y: hidden;
}

/*div.SwVersion{
    position: absolute;
    top: 610px;
    left: 900px;
    width: 100px
    text-align: right;    
}*/

div.SwVersion{
    position: absolute;
    top: 710px;
    left: 10px;
    width: 500px
    text-align: left;
    font-size: 18;
    color: #1F497D;    
}

div.network {
    position: absolute;
    top: 710px;
    left: 1130px;
    width: 30px;
    height: 30px;
}

div.remoteAssistance {
    position: absolute;
    top: 710px;
    left: 1050px;
    width: 30px;
    height: 30px;
}

div.Administration {
    position: absolute;
    top: 710px;
    left: 970px;
    width: 30px;
    height: 30px;
}

div.Language {
    position: absolute;
    top: 710px;
    left: 890px;
    width: 30px;
    height: 30px;
}

/*******************************************
FINE PAGINA SPLASH
*******************************************/



/*******************************************
INIZIO SEZIONE CALIBRAZIONE
*******************************************/
div.verifyCalib {
    position: absolute;
    top: 20px;
    left: 120px;
    width: 800px;
    text-align: left;
}

div.vcButtonHome {
    position: absolute;
    top: 65px;
    left: 10px;     
    text-align: center;
}

div.vcOkButton {
    position: absolute;
    top: 400px;
    left: 600px; 
    width: 50%;
    text-align: center;
}

div.vcOkInWarnButton {
    position: absolute;
    top: 600px;
    left: 600px; 
    width: 50%;
    text-align: center;
}

div.vcOkButtonInsert {
    position: absolute;
    top: 280px;
    left: 50px; 
    width: 100px;
    text-align: center;
}

div.vcStopButton {
    position: absolute;
    top: 550px;
    left: 800px; 
    width: 100px;   
}

div.vcIstructions {
    position: absolute;
    top: 160px;
    left: 20px;
    /*max-width: 1280px;*/
    max-width: 950px;
}

div.vcIstructionsCamera {
    /*  Conf Polonia
    position: absolute;
    top: 100px;
    left: 900px;
    max-width: 300px;
    height: 200px;*/
    position: absolute;
    top: 160px;
    left: 20px;
    max-width: 1280px;
}

div.vcWarning {
    position: absolute;
    top: 260px;
    left: 20px; 
    width: 1000px;
}

div.vcInput {
    position: absolute;
    top: 250px;
    left: 20px; 
    width: 400px;
}

div.vcCalibrationTable {
    position: absolute;
    top: 160px;
    left: 950px; 
    width: 200px;
}

div.vcCamera {
    position: absolute;
    top: 260px;
    left: 300px; 
    width: 200px;
    height: 150px;
    /*border:dashed 2px #1F497D;*/
}

div.vcHeadVerifyButton {
    position: absolute;
    top: 250px;
    left: 800px; 
    width: 400px;
}

div.prCameraCheck {
    position: absolute;
    top: 160px;
    left: 50px; 
    width: 666px;
    height: 500px;
    /*border:dashed 2px #1F497D;*/
}



/*******************************************
FINE SEZIONE CALIBRAZIONE
*******************************************/


/*******************************************
INIZIO PAGINA SELEZIONE PROTOCOLLO
*******************************************/
div.spSheet {
    position: absolute;
    top: 160px;
    left: 20px; 
    width: 1140px;
    height: 500px;
    overflow-x:hidden; 
    overflow-y: hidden;
}

div.spOkButton {
    position: absolute;
    top: 400px;
    left: 1120px; 
}

div.spHomeButton {
    position: absolute;
    /*top: 670px;
    left: 150px; */
    top: 70px;
    left: 10px;
}


div.spMegarideOkButton {
    position: absolute;
    top: 670px;
    left: 300px; 
}

div.spSwitch {
    position: absolute;
    top: 180px;
    left: 680px;
}


/*******************************************
FINE PAGINA SELEZIONE PROTOCOLLO
*******************************************/

/*******************************************
INIZIO SEZIONE FULL CUSTOM
*******************************************/
div.fcLblListTreatment {
    position: absolute;
    top: 20px;
    left: 10;
    width: 350px;
    height: 25px;
}

div.fcAddTreatment{
    position: absolute;
    top: -10px;
    left: 280;
    width: 30px;
    height: 25px;
}

div.fcList {
    position: relative;
    top: 60px;
    left: 10px;
    width: 350px;
    height: 300px;
    display: flex;
    overflow-y: auto;
}

div.fcLblDetailTreatment {
    position: absolute;
    top: 20px;
    left: 450;
    width: 600px;
    height: 25px;
}

div.fcDetailTreatment {
    position: absolute;
    top: 80px;
    left: 450px;
    width: 600px;
    height: 210px;
    display: flex;
    overflow-x: auto;   
    overflow-y: auto;   
}

div.fcmenuDetail {
    position: absolute;
    top: 270px;
    left: 450px;
    width: 600px;
    height: 30px;
}

div.fcOkButton {
    position: absolute;
    top: 180px;
    left: 1050px; 
}


.fcselectedIndex {
  background: #1F497DEE;
}


div.fcdtlblDetailsTreatment {
    position: absolute;
    top: 190px;
    left: 10px;
    width: 600px;
    height: 50px;
    display: flex;
    overflow-x: auto;   
    overflow-y: auto;   
}

div.fcdtlDetailsTreatment {
    position: absolute;
    top: 240px;
    left: 10px;
    width: 1000px;
    height: 270px;
    display: flex;
    overflow-x: auto;   
    overflow-y: auto;   
}

div.fcSaveButton {
    position: absolute;
    top: 240px;
    left: 1080px;
    width: 40px;
    height: 40px;
}

div.fcOkButton  {
    position: absolute;
    top: 320px;
    left: 1080px;
    width: 40px;
    height: 40px;
}

/*******************************************
FINE SEZIONE FULL CUSTOM
*******************************************/


/*******************************************
INIZIO PAGINA PROTOCOLLO
*******************************************/
div.prCamera {
    position: absolute;
    top: 80px;
    left: 50px; 
    width: 800px;
    height: 600px;
    /*border:dashed 2px #1F497D;*/
}

div.prBack {
    position: absolute;
    top: 654px;
    left: 10px;
    width: 40px;
    height: 40px;
}

div.prDescription {
    position: absolute;
    top: 140px;
    left: 900px; 
    /*width: 200px;*/
    height: 80px;
    text-align: left;
    color: #1F497D;
}

div.prPhase {
    position: absolute;
    top: 210px;
    left: 900px; 
    width: 380px;
    height: 80px;
    text-align: left;
    color: #1F497D;    
}

div.prMessage{
    position: absolute;
    top: 320px;
    left: 900px; 
    width: 380px;
    height: 80px;
    text-align: left;
    color: #1F497D;
    display: flex;
    justify-content: space-around;
    font-style: italic;
    font-size:28px;
}


div.prTime {
    position: absolute;
    top: 672px;
    left: 130px; 
    width: 250px;
    height: 100px;
    text-align: center;
    color: #1F497D;
    font-size:76px;
}


div.prStart {
    position: absolute;
    top: 670px;
    left: 820px; 
    width: 180px;
    height: 80px;
    text-align: center;
    color: #1F497D;
}


div.prPause {
    position: absolute;
    top: 670px;
    left: 1050px; 
    width: 180px;
    height: 80px;
    text-align: center;
    color: #1F497D;    
}

div.prButton {
    position: absolute;
    top: 670px;
    left:1000px;
    width: 180px;
    height: 10px;
    text-align: center;
    color: #1F497D;  
}

div.prJump {
    position: absolute;
    top: 670px;
    left: 10px; 
    text-align: center;
    color: #1F497D;  
}

div.prWhiteLed {
    position: absolute;
    top: 50px;
    left: 900px; 
    width: 180px;
    height: 80px;
    text-align: left;
    color: #1F497D;    
}


div.prStatusHor {
    position: absolute;
    /*top: 645px;*/
    top: 8px;
    left: 20; 
    /*width: 1200px;*/
    width:95%;
    height: 20px;
    text-align: center;
    color: #1F497D;  
}

div.prMirino {
    position: absolute;
    top: 80px;
    left: 6px; 
    text-align: center;
    color: #1F497D;      
}

/*******************************************
FINE PAGINA PROTOCOLLO
*******************************************/



/*******************************************
INIZIO PAGINA REPORT
*******************************************/
div.reportHeader {
    position: absolute;
    top: 20px;
    left: 120px;
    width: 100%;
    text-align: left;
}

div.reportInput {
    position: absolute;
    top: 180px;
    left: 20px;
    width: 1000px;
    text-align: left;
}

div.reportPrint {
    position: absolute;
    top: 200px;
    left: 800px;    
    text-align: left;    
}

div.reportSave {
    position: absolute;
    top: 280px;
    left: 550px;    
    text-align: left;    
}


div.reportPreview {
    position: absolute;
    top: 180px;
    left: 400px;
    width: 1000px;
    height: 300px;
}


/*******************************************
FINE PAGINA REPORT
*******************************************/


/*******************************************
INIZIO PAGINA ARCHIVIO
*******************************************/
div.archiveGrid {
    position: absolute;
    top: 18px;
    left: 40px;
    width: 1080px;
    height: 450px;
    font-size: 14;
}

.grid-loading {
  position: absolute;
  top: 180px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.5em;
  color: #1F497D;
}


.archiveGrid .ui-grid-header-cell {
    height: 120px !important;
}


/*
.ui-grid {
  border: 1px solid #1F497D;
  box-sizing: content-box;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.ui-grid-header-cell {
  position: relative;
  box-sizing: border-box;
  background-color: inherit;  
  border-right: 1px solid;
  border-color: #1F497D;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 0;
}

.ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: #fdfdfd;
}
.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: #f3f3f3;
}
*/


/*******************************************
FINE PAGINA ARCHIVIO
*******************************************/


h4 {
    font-size: 42px;
}

div font {
    font-size: inherit;
}

div .optionsCustomFast {
    background-color: #1F497D;
    color: #FFFFFF;
}




::-webkit-scrollbar {
    width: 40px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba((31,49,125,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(31,49,125,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(31,49,125,0.4); 
}

/*

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
}
*/
#upload_button {
  display: inline-block;
}
#upload_button input[type=file] {
  display:none;
}

.header-fixed {
    width: 100% 
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 150px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 20%;
    float: left;
}