 <div class="logo"> 
      <img class="img-center center-block LogoImg"/> 
</div>

<div class="verifyCalib">
  <h4>{{'SelectProtocol.DresdenOptions.Description' | translate}} {{protocol}}</h4>
</div>

<!--  Pulsante back -->
<div class="spHomeButton">
    <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="back()">
       <md-icon md-font-icon="fa-arrow-circle-left" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D"></md-icon>
    </md-button>
</div>


<!-- Protocol Claim -->
<div class="spSheet">


 <table style="margin-left:200">

            <tr>
                <td></td>
                <td></td>
                <td align ="center"><label style="font-size: 52px; color:#1F497D">  1.8 J </label></td>
                <td></td>
                <td align ="center"><label style="font-size: 52px; color:#1F497D">  2.7 J </label></td>
                <td></td>
                <td align ="center"><label style="font-size: 52px; color:#1F497D">  5.4 J </label></td>
            </tr>



            
            <!-- 30 mW -->
            <tr>
                <td><br/></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-show="isValueCalibrated(30)">
                <td><label style="font-size: 52px">  30 mW </label></td>
                <td width="30"></td>
                <td align ="center" ><md-button ng-style="{'font-size':'48px', height:'60px'}" class="md-raised" ng-click="setCheratitiParameters(1, 30)">1 min</md-button></td>
                <td width="50"></td>
                <td align ="center"><md-button ng-style="{'font-size':'48px', height:'60px'}" class="md-raised" ng-click="setCheratitiParameters(1.5, 30)">1.5 min</md-button></td>
                <td width="50"></td>
                <td align ="center"><md-button ng-style="{'font-size':'48px', height:'60px'}" class="md-raised" ng-click="setCheratitiParameters(3, 30)">3 min</md-button></td>
            </tr>



            <!-- 18 mW -->
            <tr>
                <td><br/></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-show="isValueCalibrated(18)">
                <td><label style="font-size: 52px">  18 mW </label></td>
                <td width="30"></td>
                <td align ="center"><md-button ng-style="{'font-size':'48px', height:'60px'}"  class="md-raised" ng-click="setCheratitiParameters(1.66, 18)">1.6 min</md-button></td>
                <td width="50"></td>
                <td align ="center"><md-button ng-style="{'font-size':'48px', height:'60px'}"  class="md-raised" ng-click="setCheratitiParameters(2.5, 18)">2.5 min</md-button></td>
                <td width="50"></td>
                <td align ="center"><md-button ng-style="{'font-size':'48px', height:'60px'}"  class="md-raised" ng-click="setCheratitiParameters(5, 18)">5 min</md-button></td>
            </tr>
    



            <!-- 9 mW -->
            <tr>
                <td><br/></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-show="isValueCalibrated(9)">
                <td><label style="font-size: 52px">  9 mW </label></td>
                <td width="30"></td>
                <td align ="center"> <md-button ng-style="{'font-size':'48px', height:'60px'}" class="md-raised" ng-click="setCheratitiParameters(3.3, 9)">3.3 min</md-button></td>
                <td width="50"></td>
                <td align ="center"> <md-button ng-style="{'font-size':'48px', height:'60px'}" class="md-raised" ng-click="setCheratitiParameters(5, 9)">5 min</md-button></td>
                <td width="50"></td>
                <td align ="center"> <md-button ng-style="{'font-size':'48px', height:'60px'}" class="md-raised" ng-click="setCheratitiParameters(10, 9)">10 min</md-button></td>
            </tr>


            <!-- 3 mW -->
            <tr>
                <td><br/></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-show="isValueCalibrated(3)">
                <td><label style="font-size: 52px">  3 mW </label></td>
                <td width="30"></td>
                <td align ="center"> <md-button ng-style="{'font-size':'48px', height:'60px'}" class="md-raised" ng-click="setCheratitiParameters(10, 3)">10 min</md-button></td>
                <td width="50"></td>
                <td align ="center"> <md-button ng-style="{'font-size':'48px', height:'60px'}" class="md-raised" ng-click="setCheratitiParameters(15, 3)">15 min</md-button></td>
                <td width="50"></td>
                <td align ="center"> <md-button ng-style="{'font-size':'48px', height:'60px'}" class="md-raised" ng-click="setCheratitiParameters(30, 3)">30 min</md-button></td>
            </tr>
        </table>
  
</div>
