 <div class="logo"> 
      <img class="img-center center-block LogoImg"> 
</div>

<!--  Pulsante home -->
 <div class ="spHomeButton">
    <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="goToHome()" >
       <md-icon md-font-icon="fa-home" class="fa s32 md-primary md-hue-2" style="font-size:64px; color: #1F497D"></md-icon>
    </md-button>
 </div>


<!-- Layout comune a tutti gli stati -->   
<div class="verifyCalib" ng-click="onclick()">
  <h4>{{'ControlPanel.Name' | translate}}</h4>
</div>  


<!-- Elenco tab  -->
<div class="spSheet">
    <md-content>
      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button  ng-style="{'font-size':'40px', height:'50px'}" ng-class="getButtonClass(sheet)" ng-repeat="sheet in sheets" ng-click="sheetChanged(sheet)" ng-show="isSheetVisible(sheet)">{{sheet.name | translate}}</md-button>
      </section>

  	<!-- PANNELLO GENERALE-->
    <div style="overflow-y: hidden; font-size: 22px" ng-if="selectedSheet.id == 0">
       <br/>
       
       <table class="tableAdmin">
       		<tr>
       			<td width="50%"><label class="lblAdmin">{{'ControlPanel.General.serialDevice' | translate}}</label></td>
       			<td><input type= "text" class="inpAdmin" ng-model="systemProperties.serCfxLinker" ng-readonly="isReadonly" ng-virtual-keyboard="{size:5, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}"></td>
       		</tr>

       		<tr>
       			<td><label class="lblAdmin">{{'ControlPanel.General.softwareVer' | translate}}</label></td>
       			<td><input type= "text" class="inpAdmin" ng-model="swVersion" readonly></td>
       		</tr>

       		<tr>
       			<td><label class="lblAdmin">{{'ControlPanel.General.serialDriver' | translate}}</label></td>
       			<td><input type= "text" class="inpAdmin" ng-model="systemProperties.serSkDriver" ng-readonly="isReadonly" ng-virtual-keyboard="{size:5, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}"></td>
       		</tr>

       		<tr>
       			<td><label class="lblAdmin">{{'ControlPanel.General.serialOpticalUnit' | translate}}</label></td>
       			<td><input type= "text" class="inpAdmin" ng-model="systemProperties.serTesta" ng-readonly="isReadonly" ng-virtual-keyboard="{size:5, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}"></td>
       		</tr>

       		<tr>
       			<td><label class="lblAdmin">{{'ControlPanel.General.serialMainPower' | translate}}</label></td>
       			<td><input type= "text" class="inpAdmin" ng-model="systemProperties.serAlimentatore" ng-readonly="isReadonly" ng-virtual-keyboard="{size:5, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}"></td>
       		</tr>

       		<tr>
       			<td><label class="lblAdmin">{{'ControlPanel.General.serialControlUnit' | translate}}</label></td>
       			<td><input type= "text" class="inpAdmin" ng-model="systemProperties.serControlUnit" ng-readonly="isReadonly" ng-virtual-keyboard="{size:5, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}"></td>
       		</tr>

		<tr><td><br/></td></tr>

       		 <tr>
       	 		<td><md-button ng-click="saveProperties()" ng-show="!isReadonly" ng-style="{'font-size':'38px', height:'50px'}">Salva</md-button></td>
       	 	</tr>

		<tr><td><br/></td></tr>

       		 <tr>
       	 		<td><md-button ng-click="resetDevice()" ng-show="!isReadonly" ng-style="{'font-size':'38px', height:'50px'}">Reset Device</md-button></td>
       	 	</tr>

								<tr><td><br/></td></tr>

       		 <tr>
       	 		<td><md-button ng-click="getDataFromCloud()" ng-show="!isReadonly" ng-style="{'font-size':'38px', height:'50px'}">Dati dal cloud</md-button></td>
       	 	</tr>
<!--
       	 	<tr>
       	 		<td><md-button ng-click="changeUser()">{{'ControlPanel.General.userSupport' | translate}}</md-button></td>
       	 	</tr>
-->
       </table>


    </div>

  	<!-- PANNELLO CONFIGURAZIONE-->
    <div style="overflow-y: hidden; font-size: 22px" ng-if="selectedSheet.id == 1">
       <br/>
       

       <table>
       	 <tr>
       	 	<td height="60px"><label class="lblAdmin">{{'ControlPanel.Configuration.Demo' | translate}} </label></td>
		<td><input class="chkAdmin" type="checkbox" id="myCheck" ng-model = "configuration.demoEnabled"/></td>

       	 </tr>

       	 <tr>
       	 	<td height="60px"><label class="lblAdmin">{{'ControlPanel.Configuration.Report' | translate}}</label></td>
		<td> <input class="chkAdmin" type="checkbox" id="myCheck" ng-model = "configuration.showReport"/></td>
       	 </tr>


       	 <tr>
       	 	<td height="60px"><label class="lblAdmin">{{'ControlPanel.Configuration.MirrorCamera' | translate}}</label></td>
		<td> <input class="chkAdmin" type="checkbox" id="chkMirrorCamera" ng-model = "configuration.MirrorCamera"/></td>
       	 </tr>

			
			<tr>
       	 	<td height="60px"><label class="lblAdmin">{{'ControlPanel.Configuration.RotateCamera' | translate}}</label></td>
		<td> <input class="chkAdmin" type="checkbox" id="chkRotateCamera" ng-model = "configuration.RotateCamera"/></td>
			</tr>
			
       	 <tr>
       	 	<td height="60px"><label class="lblAdmin">{{'ControlPanel.Configuration.JumpSteps' | translate}}</label></td>
		<td> <input class="chkAdmin" type="checkbox" id="chkJumpStep" ng-model = "configuration.JumpStep"/></td>
       	 </tr>


       	 <tr>
       	 	<td><br></td>
       	 </tr>

       	 <tr>
      	 	<td height="60px"><label class="lblAdmin">{{'ControlPanel.Configuration.daysLog' | translate}} </label></td>
		<td> <input type="number" class="numberAdmin" name="giorniLog" ng-model="configuration.giorniLogOnLine"></input></td>

       	 </tr>

       	 <tr>
       	 	<td><br></td>
       	 </tr>
       	 <tr>
       	 	<td><md-button ng-style="{'font-size':'38px', height:'80px'}" ng-click="goToFullCustom()">{{'ControlPanel.Configuration.FullCustom' | translate}}</md-button></td>
					</tr>

       	 <tr ng-if= "isSuperProfile()">
       	 	<td><md-button ng-style="{'font-size':'38px', height:'80px'}" ng-click="setConfigCamera()">{{'ControlPanel.Configuration.configCamera' | translate}}</md-button></td>
       	 </tr>
			
		<tr ng-if= "isSuperProfile()">
			<td><md-button ng-style="{'font-size':'38px', height:'80px'}" ng-click="setWifiDisabled()">{{'ControlPanel.Configuration.enableWifiDuringTreatment' | translate}}</md-button></td>
		</tr>

       	 <tr>
       	 	<td><md-button ng-style="{'font-size':'38px', height:'80px'}" ng-click="saveConfiguration()">{{'ControlPanel.Configuration.apply' | translate}}</md-button></td>
       	 </tr>

		<tr>
       	 	<td><md-button ng-style="{'font-size':'38px', height:'80px'}" ng-click="configCaribou()">{{'ControlPanel.Configuration.Caribou' | translate}}</md-button></td>
       	 </tr>


       </table>


    </div>

    <!-- PANNELLO CALIBRAZIONE-->
    <div style="overflow-y: hidden" ng-if="selectedSheet.id == 2" ng-cloak>
       <br/>
        <div flex style="overflow: scroll; height: 450px; font-size: 22px" layout="column">
        	<table border="1">
	    		<tr> <td class="adminTitle"> {{'ControlPanel.Calibration.Date' | translate}}</td> 
	    			 <td class="adminTitle">{{'ControlPanel.Calibration.lifeHours' | translate}}</td> 
	    			 <td class="adminTitle">{{'ControlPanel.Calibration.powerEmitted' | translate}}</td> 
	    			 <td class="adminTitle">{{'ControlPanel.Calibration.powerMeasured' | translate}}</td> 
	    			 <td class="adminTitle">{{'ControlPanel.Calibration.Result' | translate}}</td>
	    			 <td class="adminTitle">{{'ControlPanel.Calibration.percentage' | translate}}</td></tr>
	    		<tr>
		       	 	<td><br></td>
		       	 	<td></td>
		       	 	<td></td>
		       	 	<td></td>
		       	 	<td></td>
		       	 	<td></td>
	    		</tr>
		       	
		       	<tr ng-repeat="detail in verificheCalibrazione">
		       	 	<td class="calibRow">{{detail.dataVerifica}}</td>
		       	 	<td class="calibRow">{{(detail.totMinutiUtilizzo / 60).toFixed(2)}}</td>
		       	 	<td class="calibRow">{{(detail.potenzaEmessa / 1000).toFixed(2) }}</td>
		       	 	<td class="calibRow">{{(detail.potenzaMisurata / 1000).toFixed(2)}}</td>
		       	 	<td class="calibRow">{{getMsgEsitoVerifica(detail)}}</td>
		       	 	<td class="calibRow">{{getPercentageErrorCalibration(detail)}}</td>
		       	 </tr>	    		
	    	</table>
	    	
	    </div>
	    <table width="100%">
	    		<tr>
	    			<td width="33%""><md-button class="btnAdmin" ng-click="doCheckCalibration()">{{'ControlPanel.Calibration.deepAnalysis' | translate}}</md-button></td>
					<td width="33%"><md-button ng-click="doResetEEPROM()" class="btnAdmin" ng-show="isSuperProfile()">{{'ControlPanel.Calibration.resetEEProm' | translate}}</md-button></td>
					<td width="34%" rowspan="3" align="center">
						<table>
							<tr><td class="calibRow"><div ng-show="QRCode != null">{{'ControlPanel.Calibration.QRCode' | translate}}</div></td></tr>
							<tr><td><div border="1" ng-bind-html="QRCode" ng-show="QRCode != null"></div></td></tr>
						</table>
					</td>
	    		</tr>

				<tr>
	    			<td><md-button ng-click="doCalibration()" class="btnAdmin">{{'ControlPanel.Calibration.calibration' | translate}}</md-button></td>
					<td><md-button class="btnAdmin" ng-click="importCalib()" ng-show="isSuperProfile()">{{'ControlPanel.Calibration.importCalibration' | translate}}</md-button>
	    				<input type="file" accept=".json" style="display:none" id="inputCalibFile" onchange="angular.element(this).scope().importFromFile(this)">
	    			</td>
					
				</tr>
			
			<tr ng-show="isSuperProfile()">
				<td><md-button  ng-style="{'font-size':'38px', 'height':'80px'}" ng-href="{{calibrationHref}}" download="calibTable.json">{{'ControlPanel.Calibration.exportCalibration' | translate}}</md-button></td>
				<td><md-button class="btnAdmin" ng-click="storeCalibTableToCloud()" ng-show="isSuperProfile()">Esporta Calibrazione su cloud</md-button>	    				
				</td>
			</tr>

			

        </table>
    </div>
		

  	<!-- PANNELLO STORICO TRATTAMENTI-->
    <div style="overflow-y: hidden; font-size: 22px" ng-if="selectedSheet.id == 3" ng-cloak>
       <br/>
        <table>
        	 <tr> <td class="adminTitle" width="300px"">{{'ControlPanel.Reports.Protocol' | translate}}</td> <td class="adminTitle">{{'ControlPanel.Reports.numberOfTreatments' | translate}}</td> </tr>
	       	 <tr ng-repeat="detail in statisticheTrattamenti">
	       	 	<td class="calibRow"><a ng-click="selectStatistcs(detail)">{{detail.Protocol}}</a></td>
	       	 	<td class="calibRow">{{detail.Totale}}</td>
	       	 </tr>
	    </table>
	    <div flex style="overflow: scroll; height: 300px; font-size: 22px" layout="column">
	    	<table>
	    		<tr> 
	    			<td width="200px" class="adminTitle"><b>{{'ControlPanel.Reports.Date' | translate}}</b></td>
	    			<td width="150px" class="adminTitle"><b>{{'ControlPanel.Reports.Duration' | translate}}</b></td>
	    			<td width="150px" class="adminTitle"><b>{{'ControlPanel.Reports.Steps' | translate}}</b></td>
	    			<td width="150px" class="adminTitle"><b>{{'ControlPanel.Reports.Intensity' | translate}}</b></td>
	    			<td width="200px" class="adminTitle"><b>{{'ControlPanel.Reports.Protocol' | translate}}</b></td>
	    		</tr>
	    		<tr ng-repeat="detail in protocolStaticsDetails">
		       	 	<td class="calibRow">{{detail.DateOfTreatment}}</td>
		       	 	<td class="calibRow">{{detail.Duration}}</td>
		       	 	<td class="calibRow">{{detail.steps}}</td>
		       	 	<td class="calibRow">{{detail.power}}</td>
		       	 	<td class="calibRow">{{detail.Protocol}}</td>
		       	 </tr>
	    		
	    	</table>
	    </div>
    </div>

  	<!-- PANNELLO DIAGNOSTICA (VECCHIO LOG)-->
    <div style="overflow-y: hidden; font-size: 22px; width:100%" ng-if="selectedSheet.id == 4" ng-cloak>
	  <br/>
	    <table width="100%">
	    	<tr>
	    		<td width="50%">
	    			<!--<md-button ng-click="openDeviceManager()">{{'ControlPanel.Log.DeviceManager' | translate}}</md-button></td>-->
	    			<table width="100%">
	    				<tr>
	    					<td width="50%">
	    		    			<md-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="openDeviceManager()">
							        <md-icon md-font-icon="fa-wrench" class="fa s32 md-primary md-hue-2" aria-hiden="true" style="font-size:32px; color: #1F497D" ></md-icon>
							    </md-button>
	    					</td>
	    					<td width="50%">
	    						<md-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="goToSerialTerminal()">
							        <md-icon md-font-icon="fa-terminal" class="fa s32 md-primary md-hue-2" aria-hiden="true" 
							        	style="font-size:32px; color: #1F497D" ng-if="isSuperProfile()"></md-icon>
							    </md-button>
	    					</td>
	    				</tr>
	    			</table>
	    		<td> <md-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="openRemoteAssistance()" ng-if="!RemoteAssistanceDisabled">
				        <md-icon md-font-icon="fa-user" class="fa s32 md-primary md-hue-2" aria-hiden="true" style="font-size:32px; color: #1F497D" ></md-icon>
				    </md-button>
				</td>
	    	</tr>
	    	<tr> 
	    		<td class="adminTitle">{{'ControlPanel.Log.Application' | translate}}</td>
	    		<td class="adminTitle">{{'ControlPanel.Log.Serial' | translate}}</td>
	    	</tr>
	    	<tr> 
	    		<!--Log applicazione -->
	    		<td>
	    			<div flex style="overflow: scroll; height: 150px; width: 100%" layout="column">
				        <table width="100%">

				        	 <tr> <th> <b>{{'ControlPanel.Log.Date' | translate}}</b></th> <th> <b>Checksum</b></th></tr>
					       	 <tr ng-repeat="detail in applicationLogsDetails">
					       	 	<td><a ng-click="selectApplicationLogDetail(detail)">{{detail.DateOfLog}}</a></td>
								<td><a ng-click="selectApplicationLogDetail(detail)">{{detail.checksum}}</a></td>
					       	 </tr>
					    </table>
					</div>
				    
				</td>

	    		<!--Log serial -->
	    		<td>
				  	<div flex style="overflow: scroll; height: 150px; width: 100%" layout="column">
				        <table>
				        	 <tr> <th> <b>{{'ControlPanel.Log.Date' | translate}}</b></th></tr>
					       	 <tr ng-repeat="detail in serialLogsDetails">
					       	 	<td><a ng-click="selectSerialLogDetail(detail)">{{detail.DateOfLog}}</a></td>
					       	 </tr>
					    </table>
					</div>				    
				</td>

			</tr>

			<tr>
				<td>					
				    <textarea style="height:400px; width:100%"> {{applicationLogContent}} </textarea>				    
				</td>
				<td>
					<textarea style="height:400px; width:100%"> {{serialLogContent}} </textarea>
				</td>
			</tr>
		</table>

	</div>    


  	<!-- PANNELLO REPORT-->
    <div style="overflow-y: hidden; font-size: 22px;" ng-if="selectedSheet.id == 5" ng-cloak>
	  <br/>
	    <table>
	    	<tr>
	    		<td class="ReportRow">{{'ControlPanel.Report.Printers' | translate}}</td>
	    		<td>
				        <md-icon md-font-icon="fa-print" class="fa s32 md-primary md-hue-2" aria-hiden="true" style="font-size:48px; color: #1F497D" ng-click="openPrinterManagement()"></md-icon>
				   
				</td>
	    	</tr>
	    	<tr>
	    		<td class="ReportRow">{{'ControlPanel.Report.InstitutionName' | translate}}</td>
	    		<td ><input type="text" name="nomeStruttura" ng-model="configReport.nomeStruttura" class="inpAdmin" ng-virtual-keyboard="{size:5, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}"/></td>
	    	</tr>
	    	<tr>
	    		<td class="ReportRow">{{'ControlPanel.Report.InstitutionAddress' | translate}}</td>
	    		<td><input type="text" name="indirizzoStruttura" ng-model="configReport.IndirizzoStruttura" class="inpAdmin" ng-virtual-keyboard="{size:5, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}"/></td>
	    	</tr>
	    	<tr>
	    		<td class="ReportRow">{{'ControlPanel.Report.InstitutionLogo' | translate}}</td>
	    		<td><img src="images/logoReferto" id="previewLogo" height="200px"></td>
	    	</tr>

	    	<tr>
	    		<td></td>
	    		<td class="ReportRow">
					<div>
						<label for="files" class="btn">{{'ControlPanel.Report.ChangeLogo' | translate}}</label>
						<input id="files" style="visibility:hidden;" type="file" accept="image/*" ng-change="importLogoXReferto()" ng-model="pathLogoStruttura" id="logoXRefertoImg" onchange="angular.element(this).scope().fileNameChanged(this)">
					  </div>
					<!--
						<input type="file" accept="image/*" ng-change="importLogoXReferto()" ng-model="pathLogoStruttura" id="logoXRefertoImg" onchange="angular.element(this).scope().fileNameChanged(this)">
					-->
				</td>
	    	</tr>
	    	<tr>
	    		<td></td>
	    		<td class="ReportRow"><md-button class="btnAdmin" ng-click="saveSettingReferto()">{{'ControlPanel.Report.apply' | translate}}</md-button></td>
	    	</tr>
		</table>

	</div>    


	<!-- INIZIO TAB UTENTI -->
	<div style="overflow-y: hidden; font-size: 22px; height:700px; " ng-if="selectedSheet.id == 6" ng-cloak>

		<!--inizio sezione NON edit utente-->
		<table ng-if="!privacy.isCRUDUser">
       	 <tr>
       	 	<td height="60px"><label class="lblAdmin">{{'GDPR.privacyEnabled' | translate}} </label></td>
			<td><input class="chkAdmin" type="checkbox" id="myCheck" ng-model = "configuration.privacyEnabled" ng-click="saveConfiguration()"/></td>
			<td>
				<md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 30px" ng-click="newUser()">
					<!--
						<md-icon md-font-icon="far fa-plus" class="fa s32 md-primary md-hue-2" 
									  style="font-size:40px; width:100px; height: 100px; color: #6079a0"></md-icon>
					-->
					<img src = "img/AddUser.png" height="30px"/>
				</md-button>
			</td>
			<td height="60px"><label class="lblAdmin">{{'GDPR.daysReports' | translate}} </label></td>
		 	<td> <input type="number" class="numberAdmin" name="giorniReport" ng-model="configuration.giorniReportOnLine"></input></td>
			 <td><md-button ng-style="{'font-size':'38px', height:'80px'}" ng-click="saveConfiguration()">{{'ControlPanel.Configuration.apply' | translate}}</md-button></td>
		
       	 </tr>
		</table>

		<!-- Inizio Elenco Utenti -->		
		<div ui-i18n="{{lang}}" style="font-size:22px!important" ng-if="!privacy.isCRUDUser">
			<div ui-grid="gridUsers" ui-grid-pagination></div>

				<div class="well grid-loading" ng-show="dataLoading">
					<i class="fa fa-spin fa-spinner"></i>
					<strong>Data Loading...</strong>
				</div>
			</div>			
		<!-- Fine Elenco Utenti -->

		<!--Fine sezione NON edit utente-->

		<!--inizio sezione EDIT utente-->
		<table ng-if="privacy.isCRUDUser">
			<tr>
				<td><br/></td>
				<td><br/></td>
			</tr>
			<tr>
				<td><md-button ng-style="{'font-size':'38px', height:'80px'}" ng-click="exitCRUDUser()">
					<md-icon md-font-icon="fa-arrow-left" class="fa s32 md-primary md-hue-2" style="font-size:32px; color: #1F497D"></md-icon>
				</md-button></td>
				<td><br/></td>
			</tr>
			<tr>
				<td><br/></td>
				<td><br/></td>
			</tr>
       	 <tr>
       	 	<td height="60px"><label class="lblAdmin">{{'ControlPanel.Username' | translate}}: </label></td>
			<td><input type="text" name="Username" ng-model="privacy.userSelected.Username" class="inpAdmin" 
				ng-virtual-keyboard="{size:5, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}" ng-change="crudUserNameChanged()"/></td>
       	 </tr>

       	 <tr>
			<td height="60px"><label class="lblAdmin">{{'Report.Name' | translate}}: </label></td>
			<td><input type="text" name="Name" ng-model="privacy.userSelected.Name" class="inpAdmin" ng-virtual-keyboard="{size:5, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}"/></td>
		</tr>

		<tr>
			<td height="60px"><label class="lblAdmin">{{'Report.Surname' | translate}}: </label></td>
			<td><input type="text" name="Surname" ng-model="privacy.userSelected.Surname" class="inpAdmin" ng-virtual-keyboard="{size:5, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}"/></td>
		</tr>
			
		<tr>
			<td height="60px"><label class="lblAdmin">{{'ControlPanel.Password' | translate}}: </label></td>
			<td><input type="password" name="Password" ng-change="passwordChanged()" ng-model="privacy.userSelected.Password" class="inpAdmin" ng-virtual-keyboard="{size:5, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}"/></td>
		</tr>

		<tr>
			<td height="60px"><label class="lblAdmin">{{'GDPR.daysExpiryPassword' | translate}}: </label></td>
			<td><input type="text" name="daysPassword" ng-model="privacy.userSelected.PasswordValidity" class="inpAdmin" ng-virtual-keyboard="{size:5, kt: 'NumericoIntero', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}"/></td>
		</tr>



		<tr>
			<td height="60px"><label class="lblAdmin">{{'GDPR.Role' | translate}}: </label></td>
			<td><br/></td>
		</tr>		
		<tr>
			<td><input class="chkAdmin" type="checkbox" id="chkOperator" ng-model="privacy.operator" ng-change="setUserOperator()"/></td>
			<td><label class="lblAdmin">operator</label></td>
		</tr>
		<tr>
			<td><input class="chkAdmin" type="checkbox" id="chkOperator" ng-model="privacy.admin" ng-change="setUserAdmin()"/></td>
			<td><label class="lblAdmin">admin</label></td>
			<td><md-button ng-style="{'font-size':'38px', height:'80px'}" ng-click="saveCRUDUser()">{{'ControlPanel.Configuration.apply' | translate}}</md-button></td>
		</tr>	

		<tr>
			<td></td>
		   <td height="70px"> <label style="font-size: 48px; color:red; height: 48px;">  {{privacy.ErrorMsg}}</label> </td>		
	   </tr>

	   <!--
       	 <tr>
			<td><br/></td>
       	 	<td><md-button ng-style="{'font-size':'38px', height:'80px'}" ng-click="saveCRUDUser()">{{'ControlPanel.Configuration.apply' | translate}}</md-button></td>
       	 </tr>	
-->
 


		</table>
		<!--Fine sezione  edit utente-->

	</div>    
	<!-- FINE TAB UTENTI -->



  </md-content>
</div>


<!--  Pulsante ok -->
<!--
<div class="spOkButton">
    <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="startProtocol()" >
      <img src="img/ok.png"></img>
    </md-button>
</div>
-->
