
 <div class="logo" ng-click="closePreview()"> 
      <img class="img-center center-block LogoImg"/> 
</div>

<!-- Layout comune a tutti gli stati -->   
<div class="verifyCalib" ng-click="closePreview()">
   <h4> {{'Splash.Archive' | translate}}</h4>
</div>

 <div class ="vcButtonHome">
    <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="goToHome()" >
       <md-icon md-font-icon="fa-home" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D"></md-icon>
    </md-button>
 </div>

 <!-- Anteprima  -->

<div class = "spSheet" ng-show="pdf.data != null || pdf.path!=null">
<table width="90%" height="100%">
  <tr>
     <td rowspan="2" width="85%">
       <!--
		   <embed ng-src="{{pdf.data}}" id="pdfPrintViewport" type="application/pdf" style="width:100%; height:100%;"/>
		   !-->
		   
		   <!--
		   <iframe ng-src="{{pdf.path}}" id="pdfPrintViewport" type="application/pdf"  frameBorder="0"
		   scrolling="auto" style="width:100%; height:100%;"/>
		   -->

		   <!--
			   <object id="pdfPrintViewport" ng-attr-data="{{pdf.path}}" type="application/pdf" width="100%" height="100%">			
			</object>
		-->

		<!--utilizzo la direttiva definita in js.app.  pdf.path è la variabile di $scope-->
			<pdf src='pdf.path' ng-show="pdf.data != null"></pdf>

			
     </td>
</table>
</div>

<!-- Inizio menu laterale anteprima  -->
<div class="reportPrint">
	<table height="100%">
		<tr>
			<td>
				
			   <md-button aria-label="Favorite" ng-click="showList()" style="height:60px;" ng-show="pdf.data != null" >
			      <md-icon md-font-icon="fa-folder-open" class="fa s16 md-primary md-hue-2" style="font-size:52px; color: #1F497D"></md-icon>
			   </md-button>			   
			
			</td>
		 </tr>
		 <tr>
		 	<td><br><br></td>
		 </tr>

		<tr>
		 	<td><br><br></td>
		</tr>

<!--		
		<tr>
		 	<td>
	
			<a ng-show="false" ng-href="reports/{{pdf.idReport}}.pdf" download="{{pdf.proposedFileName}}.pdf"> <md-icon md-font-icon="fa-save" class="fa s16 md-primary md-hue-2" style="font-size:52px; color: #1F497D" ng-show="pdf.data != null"></md-icon></a>		   

		 	</td>
		</tr>

		<tr>
			<td><br><br></td>
	  </tr>
	  <tr>
			<td><br><br></td>
	  </tr>
	-->

	<tr>
			<td>
				<md-button aria-label="Favorite" ng-click="saveReport()" style="height:60px;" ng-show="pdf.data != null" ng-disabled="pathPenDrive == null">
					<img src = "img/penDrive.png" height="60px" ng-show="pathPenDrive != null"/>
					<img src = "img/penDriveDisabled.png" height="60px" ng-show="pathPenDrive == null"/>
				</md-button>
			</td>
		</tr>

		<tr>
				<td><br><br></td>
		</tr>
		<tr>
				<td><br><br></td>
		</tr>
		
		<tr>

		 	<td>
			   <md-button  aria-label="Favorite" ng-click="doPrint()" style="height:60px;" ng-show="pdf.data != null">
			      <md-icon md-font-icon="fa-print" class="fa s16 md-primary md-hue-2" style="font-size:52px; color: #1F497D"></md-icon>
			   </md-button>
		 	</td>
		</tr>

   </table>
</div>
<!-- Fine menu laterale anteprima  -->

   <!-- Inizio Elenco  -->
<div class="spSheet" ng-show="pdf.data == null">

  
    <div ui-i18n="{{lang}}" style="font-size:36px!important">
      <!--
        <div ui-grid="gridOptions" ui-grid-pagination class="archiveGrid" ui-grid-selection></div>
      -->
      <div ui-grid="gridOptions" ui-grid-pagination class="archiveGrid"></div>

      <div class="well grid-loading" ng-show="dataLoading">
          <i class="fa fa-spin fa-spinner"></i>
          <strong>Data Loading...</strong>
      </div>
    </div>
    
      <!--
     <div flex-gt-xs><md-datepicker ng-model="ctrl.myDate"></md-datepicker></div>
    -->
</div>
   <!-- Fine Elenco  -->

