 <div class="logo"> 
      <img class="img-center center-block LogoImg"/> 
</div>

<!-- Layout comune a tutti gli stati -->   
<div class="verifyCalib">
  <h4> {{'Calibration.execute' | translate}}</h4>
</div>

<!--  Pulsante home -->
<div class ="spHomeButton">
    <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="back()">
        <md-icon md-font-icon="fa-arrow-circle-left" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D"></md-icon>
     </md-button>
 </div>


 <!--  Pulsante ok -->
<div class="vcOkButtonInsert">
    <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="okButton()" >
         <!--
            <md-icon md-font-icon="fa-sign-in" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D" >                
            </md-icon>
            -->
            <img src="img/ok.png" width="80px"></img>
    </md-button>
</div>

<div class="vcCamera" ng-show="state.calibration==1">
    <video autoplay id="videoCanvas" style="width: 560px; height: 420px; background-color: #666; -webkit-transform: scaleX(-1);"></video>
</div>

<!--Pulsante interruzione -->
<div class="vcStopButton" ng-show="isStopButtonVisible()">
    <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="stopButton()"> 
        <md-icon md-font-icon="fa-stop-circle" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D">
        </md-icon>
    </md-button>
</div>


<div class="vcCalibrationTable" ng-show="calibrationTable.length>0">
  <table>
    <tr>
        <td colspan="2"><b>{{'ControlPanel.Calibration.CalibTable' | translate}}</b></td>
    </tr>
    <tr>
        <td>{{'ControlPanel.Calibration.Current' | translate}}</td>
        <td>{{'ControlPanel.Calibration.Power' | translate}}</td>
    </tr>
    <tr ng-repeat="row in calibrationTable">
        <td>{{row.current}}</td>
        <td>{{row.power}}</td>
    </tr>
  </table>
</div>



<!-- Layout stato 0 (avvio procedura) -->

<div ng-show="state.calibration==0">

    <!--   Istruzioni posizionamento UV meter-->
    <div class="vcIstructions">
        <p>{{'Calibration.startCalibration' | translate}}</p>
    </div>

</div>

<div ng-show="state.calibration==1">

    <!--   Istruzioni posizionamento UV meter-->
    <div class="vcIstructionsCamera">
        <p>{{'Calibration.PositionUVMETER' | translate}} <br>{{'Calibration.StartProcedure' | translate}}</p>
    </div>

</div>

<!-- Layout stato 4 (Specificare valore di corrente) -->
<div ng-show="state.calibration==4">
    
    <!--   Istruzioni posizionamento UV meter-->
    <div class="vcIstructions">
        <p>{{'Calibration.ValueCurrent' | translate}}</p>
    </div> 

    <!--
    <div class="vcInput">
        <input type='text' ng-model="calibrationcurrent" ng-virtual-keyboard="{kt: 'Numerico'}"/>   
    </div>
    -->

    <div class="vcInput">
        <input type='text' step="any" ng-model="calibrationcurrent" ng-virtual-keyboard="{size:5, kt: 'Numerico', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}"/>   
    </div>

</div>


<!-- Layout stato 5 (Inserimento valore letto da uv meter) -->
<div ng-show="state.calibration==6 || state.calibration==8">
    
    <!--   Istruzioni posizionamento UV meter-->
    <div class="vcIstructions">
        <p>{{'Calibration.ValueUVMETER' | translate}}</p>
    </div> 

    <!--
    <div class="vcInput">
        <input type='text' ng-model="state.valUvMeter" ng-virtual-keyboard="{kt: 'Numerico'}"/>   
    </div>
    -->

    <div class="vcInput">
       <input type='text' style="height:60px; font-size: 52px; width:90%; font-weight:bold; border:3px solid #1F497D" ng-model="state.valUvMeter" ng-virtual-keyboard="{size:5, kt: 'Numerico', customClass: 'myCustomizedVkt', deadkeysOn: 'false', enterSubmit: okButton}"/>
    </div>

</div>

<!-- Layout stato 2 (Immissione valore misurato su uv meter) -->   

<!--  NON C'E' NULLA-->

<!-- Messaggio errore -->
<div ng-show="state.warning > 0">
    <!--   Istruzioni posizionamento UV meter-->
    <div class="vcWarning">
        <p><h4><i class="fa fa-exclamation-circle"></i> {{getWarningMessage() | translate}}</h4> 
    </div>
</div>


<!--
<div class="vcWarning">
        <p><h4> {{state.calibration}}</h4> 
    </div>
-->
