 <div class="logo"> 
      <img class="img-center center-block LogoImg"/> 
</div>


<!--  Pulsante back -->
<div class="spHomeButton">
    <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="back()">
       <md-icon md-font-icon="fa-arrow-circle-left" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D"></md-icon>
    </md-button>
</div>


<!-- Layout comune a tutti gli stati -->   
<div class="verifyCalib" ng-click="onclick()">
  <h4>
  	<!--{{'Calibration.verify' | translate}}
  	-->
    {{'ControlPanel.Calibration.deepAnalysis' | translate}}    
  </h4>
</div>

<div class="prCameraCheck">
    <video id="videoCanvas" style="width: 1040px; height: 780px; background-color: #666; -webkit-transform: scaleX(-1);" ng-dblclick="reloadCamera()" ></video>        
</div>


<div class = "vcHeadVerify">
  <table>
    <tr>
      <td width="90%">
        <div ng-show="isInputVisible()">
          <input type='text' style="height:60px; font-size: 52px; width:70%; font-weight:bold; border:3px solid #1F497D" ng-model="valuePower" ng-virtual-keyboard="{size:5, kt: 'Numerico', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}" /> mW
      </div>
      </td>

      <td>
        <md-button class="md-raised" aria-label="Favorite" style="height: 60px; font-size: 32px; " ng-click="btnClick()">
            {{getButtonText()}}
         </md-button>
      </td>
    </tr>

<!--Pulsante interruzione -->
    <tr>
      <td></td>
      <td>
        <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="stopButton()" >
          <md-icon md-font-icon="fa-stop-circle" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D" >                
          </md-icon>            
        </md-button>
      </td>
    </tr>

<!--Indicazione potenza corrente -->
    <tr>
      <td>{{'Megaride.intensity' | translate}}: {{valuePowerEmitting}} mW</td>
      <td></td>
    </tr>

</div>
