 <div class="logo"> 
      <img class="img-center center-block LogoImg"/> 
</div>

<div class="verifyCalib">
  <h4>{{'Treatment.Steps.End' | translate}} </h4>
</div>

<!-- Protocol Claim -->
<div class="spSheet">

  <div ng-show="showReport">
    
     <div class="row row-centered">
      <br><br>
    </div>

  <div class="row row-centered">
        <md-button ng-style="{'font-size':'36px', height:'80px'}" class="md-raised" ng-click="goToReport()">
            {{'Treatment.GotoReport' | translate}}
        </md-button>
    </div>
    
  </div>

  <div class="row row-centered">
      <br><br>
   </div>

  <div class="row row-centered">
        <md-button ng-style="{'font-size':'36px', height:'80px'}" class="md-raised" ng-click="goToProtocols()">
            {{'Treatment.GotoProtocols' | translate}}
        </md-button>
  </div>



 <div class="row row-centered">
      <br><br>
   </div>
   
  <div class="row row-centered">
        <md-button ng-style="{'font-size':'36px', height:'80px'}" class="md-raised" ng-click="shutdown()">
            {{'Treatment.GoShutdown' | translate}}
        </md-button>
  </div>

</div>
