 <div class="logo"> 
      <img class="img-center center-block LogoImg"/> 
</div>

<div class="langFlagBox">

<table width="80%" height="100%" align="center">
  <tr>
    <td ng-repeat="locale in locales" valign="center" align="center">
<!--
      <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="setLocale(locale.lang)">
          <md-icon ng-class="getFlagClass(locale)" style="position:absolute; left:-10; top: -10; width:120px; height: 120px"></md-icon>
        </md-button>
-->
      <md-button aria-label="Favorite" ng-click="setLocale(locale.lang)" style="width:170px; height: 170px; align:center">
          <md-icon ng-class="getFlagClass(locale)" style="width:170px; height: 170px"></md-icon>
      </md-button>
      
    </td>
  </tr>
</table>

</div>

<!--
<div class="container-fluid" width="100%" >


  <div class="panel-body">

    <div class="row row-centered">
      <div class="col-xs-12 col-centered">  
        <br/><br/><br/><br/><br/><br/>
      </div>
    </div>


    <div class="row row-centered" width="80%">
       <div class="col-xs-12 col-centered" ng-repeat="locale in locales">
         <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="setLocale(locale.lang)">
          <md-icon ng-class="getFlagClass(locale)" style="position:absolute; left:-10; top: -10; width:120px; height: 120px"></md-icon>
        </md-button>
      </div>
      

    </div>

  </div>


</div> 
-->

