<div class="container-fluid" width="100%" >


  <div class="panel-body">

  <!--
    <div class="row row-centered">
      <div class="col-xs-12 col-centered">
            <h1>Logo Iromed e immagine Megaride</h1>
      </div>
    </div>
    -->


    <div class="row row-centered">
      <div class="col-xs-9 col-centered">
	      <video autoplay id="videoElement"></video>
      </div>

      <div class="col-xs-3 col-centered">
        <span>Layout</span>
      </div>
    </div>


  </div>


</div> <!--  container  -->