    <div class="prCamera">
	      <video autoplay id="videoElement" height="100"></video>
    </div>

    <div class="prDescription"><b>Protocollo</b></div>
    <div class="prTime">00:00</div>

    <div class="prStart">
      <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="shutDown()">
          <md-icon md-font-icon="fa-play-circle-o" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D"></md-icon>
      </md-button>
    </div>


    <div class="prPause">
      <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="shutDown()">
          <md-icon md-font-icon="fa-pause-circle-o" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D"></md-icon>
      </md-button>
    </div>
