 <div class="logo"> 
      <img class="img-center center-block LogoImg"/> 
</div>

<!-- Layout comune a tutti gli stati -->   
<!--
<div class="verifyCalib" ng-click="onclick()">
   <h4> {{'ControlPanel.Name' | translate}}</h4>
</div>
-->

 <div class ="vcButtonHome">
    <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="goToHome()" >
       <md-icon md-font-icon="fa-home" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D"></md-icon>
    </md-button>
 </div>

 
<div class="spSheet">
    <table>
        <tr><td colspan="2"><br></td></tr>
        <tr>
            <td></td>
            <td height="70px"> <label style="font-size: 48px; color:red; height: 48px;">  {{ErrorMsg}}</label>  </td>
        </tr>

        <!-- INIZIO LAYOUT IMMISSIONE PASSWORD-->
        <tr ng-if="!changingPassword">
            <td>
                <label style="font-size: 48px" >{{'ControlPanel.Username' | translate}}: </label>
            </td>
            <td>
                <input type="text" id="userNameInput" ng-model="parameters.username" autofocus autocomplete="nope" ng-change="resetErrorMessage()"
                    ng-virtual-keyboard="{size:5, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false', autoAccept: 'true', enterSubmit: okButton}">
                </input>
            </td>
        </tr>
        <tr ng-if="!changingPassword">
            <td>
                <label style="font-size: 48px" >{{'ControlPanel.Password' | translate}}: </label>
            </td>
            <td>
                <input type="password" id="pwdInput" ng-model="parameters.password" autofocus autocomplete="nope" ng-change="resetErrorMessage()"
                    ng-virtual-keyboard="{size:5, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false', autoAccept: 'true', enterSubmit: okButton}"></input>
            </td>
        </tr>
        <!-- FINE LAYOUT IMMISSIONE PASSWORD-->

         <!-- INIZIO LAYOUT CAMBIO PASSWORD-->
        <tr ng-if="changingPassword">
            <td>
                <label style="font-size: 48px" >{{'GDPR.newPassword' | translate}}: </label>
            </td>
            <td>
                <input type="password" id="pwdInput" ng-model="parameters.newpassword" autofocus autocomplete="nope" ng-change="resetErrorMessage()"
                    ng-virtual-keyboard="{size:5, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false', autoAccept: 'true', enterSubmit: okButton}"></input>
            </td>
        </tr>
        <tr ng-if="changingPassword">
            <td>
                <label style="font-size: 48px" >{{'GDPR.checkPassword' | translate}}: </label>
            </td>
            <td>
                <input type="password" id="pwdInput" ng-model="parameters.confirmpassword" autofocus autocomplete="nope" ng-change="resetErrorMessage()"
                    ng-virtual-keyboard="{size:5, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false', autoAccept: 'true', enterSubmit: okButton}"></input>
            </td>
        </tr>
        <!-- FINE LAYOUT CAMBIO PASSWORD-->      
        <tr><td colspan="2"><br></td></tr>

        <tr><td colspan="2"><br></td></tr>
        <tr>
            <td></td>
            <td> <md-button ng-style="{'font-size':'48px', height:'60px'}" class="md-raised" ng-disabled="btnOkDisabled()" ng-click="okButton()">Ok</md-button> </td>
        </tr>

    </table>

</div>

