 <div class="logo" ng-click="clickOutOfReport()"> 
      <img class="img-center center-block LogoImg"/> 
</div>

<!--  Pulsante back -->
<div class="spHomeButton">
    <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="back()">
       <md-icon md-font-icon="fa-arrow-circle-left" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D"></md-icon>
    </md-button>
</div>


<div class="reportHeader" ng-click="clickOutOfReport()"><h4>{{'Report.Description' | translate}}</h4></div>

 
<div class = "reportInput" ng-show="pdf.data != null || pdf.path!=null">
  <!-- 
	<pdfjs-viewer data="pdf.data"></pdfjs-viewer>
 -->
   <!--
	   <embed ng-src="{{pdf.data}}" id="pdfPrintViewport" type="application/pdf" style="width:100%; height:100%;" />
   -->
   <pdf src='pdf.path'></pdf>
</div>

<div class = "reportInput" ng-show="pdf.data == null || pdf.path == null">
<!-- 	<md-content layout-gt-sm="row" layout-padding> 		

 		 <div layout-gt-xs="column">
	 		
	 		<md-input-container>
		       <label>{{'Report.Name' | translate}}</label>
		       <input ng-model="reportData.patient.name" ng-blur="updateReport()" ng-virtual-keyboard="{size:5, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}">
		    </md-input-container>

	 		<md-input-container>
		       <label>{{'Report.Surname' | translate}}</label>
		       <input ng-model="reportData.patient.surname" ng-blur="updateReport()" ng-virtual-keyboard="{size:5, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}">
		    </md-input-container>

	 		<md-input-container>
		       <label>{{'Report.Age' | translate}}</label>
		       <input ng-model="reportData.patient.age" ng-blur="updateReport()" ng-virtual-keyboard="{size:5, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}">
		    </md-input-container>

	 		<md-input-container>
		       <label>{{'Report.Sex' | translate}}</label>
		       <input ng-model="reportData.patient.sex" ng-blur="updateReport()" ng-virtual-keyboard="{size:5, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}">
		    </md-input-container>

	 		<md-input-container>
		       <label>{{'Report.Pathology' | translate}}</label>
		       <input ng-model="reportData.patient.pathology" ng-blur="updateReport()" ng-virtual-keyboard="{size:5, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}">
		    </md-input-container>

	 		<md-input-container>
		       <label>{{'Report.Operator' | translate}}</label>
		       <input ng-model="reportData.patient.operator" ng-blur="updateReport()" ng-virtual-keyboard="{size:5, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}">
		    </md-input-container>

		    
		    <div class="reportPrint">
				<md-button  aria-label="Favorite" ng-click="pdfMaker()">
		          <md-icon md-font-icon="fa-print" class="fa s16 md-primary md-hue-2" style="font-size:40px; color: #1F497D"></md-icon>
		       </md-button>
		    </div>
		    
		    <div class="reportSave" ng-show="false">
				<md-button  aria-label="Favorite" ng-click="pdfSave()">
		          <md-icon md-font-icon="fa-save" class="fa s16 md-primary md-hue-2" style="font-size:40px; color: #1F497D"></md-icon>
		       </md-button>
		    </div>

		  </div>

		  
 	</md-content>
 -->

 	<md-content class="md-padding" layout-xs="column" layout="row" style="height:900!important">
 		 <div flex-xs flex-gt-xs="80" layout="column">
 		 	<md-card md-theme="default" md-theme-watch style="height:500!important">
 		 		 <md-card-title>
			          <md-card-title-text>
			            <span class="md-headline" style="font-size: 48px; height:48px!important">{{'Report.PatientData' | translate}}</span>
			            <!--<span class="md-subhead">Large</span>
			            -->
			          </md-card-title-text>
			      </md-card-title>
			      <md-card-content layout="row" layout-align="space-between">
			      		<table width="100%">
						 		<tr>
						 			<td width="50%">
						 				<md-input-container style="height:40!important">
									       <label style="font-size: 48px">{{'Report.Name' | translate}}</label>
									       <input style="height:60px; font-size: 48px;" ng-model="reportData.patient.name" ng-blur="updateReport()" ng-virtual-keyboard="{size:5, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}">
									    </md-input-container>
									</td>

									<td width="50%">
										<md-input-container style="height:20!important">
									       <label style="font-size: 48px">{{'Report.Surname' | translate}}</label>
									       <input style="height:60px; font-size: 48px;" ng-model="reportData.patient.surname" ng-blur="updateReport()" ng-virtual-keyboard="{size:5, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}">
									    </md-input-container>
									</td>
						 		</tr>
						 		<tr>
						 			<td width="50%">
						 				<md-input-container style="height:20!important">
									       <label style="font-size: 48px">{{'Report.Age' | translate}}</label>
									       <input style="height:60px; font-size: 48px;" ng-model="reportData.patient.age" ng-blur="updateReport()" ng-virtual-keyboard="{size:5, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}">
									    </md-input-container>
									</td>
						 			<td width="50%">
						 				<md-input-container style="height:20!important">
									       <label style="font-size: 48px">{{'Report.Sex' | translate}}</label>
									       <input style="height:60px; font-size: 48px;" ng-model="reportData.patient.sex" ng-blur="updateReport()" ng-virtual-keyboard="{size:5, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}">
									    </md-input-container>
									</td>
						 		</tr>

						 	</table>
			      </md-card-content>
 		 	</md-card>

 		 	<md-card md-theme="default" md-theme-watch style="height:380!important">
 		 		 <md-card-title>
			          <md-card-title-text>
			            <span class="md-headline" style="font-size: 48px; height:48px!important">{{'Report.Treatment' | translate}}</span>
			            <!--<span class="md-subhead">Large</span>
			            -->
			          </md-card-title-text>
			      </md-card-title>
			      <md-card-content layout="row" layout-align="space-between">
			      		<table width="100%">
						 		<tr>
						 			<td width="50%">
										<md-input-container style="height:60!important; font-size: 48px; width:400px; font-family: Helvetica">
											 <label style="font-size: 48px">{{'Report.Eye' | translate}}</label>
								              <md-select ng-model="reportData.eye" aria-label="Diagnosis">
								                <md-option ng-repeat="eye in parameters.eyes" ng-value="eye.description">
								                  {{eye.description}}
								                </md-option>
								              </md-select>
									    </md-input-container>
									</td>

									<td width="50%">
										<md-input-container style="height:60!important; font-size: 48px; width:400px; font-family: Helvetica"">
											   <label style="font-size: 48px">{{'Report.Solution' | translate}}</label>
										       <md-select ng-model="reportData.solution" aria-label="Diagnosis">
									                <md-option ng-repeat="solution in parameters.solutions" ng-value="solution.description">
									                  {{solution.description}}
									                </md-option>
									              </md-select>
									    </md-input-container>
									</td>
						 		</tr>
						 		<tr>
						 			<td><br></td>
						 		</tr>
						 		<tr>
						 			<td width="50%">
						 				<md-input-container style="height:20!important">
									        <label style="font-size: 48px">{{'Report.Pathology' | translate}}</label>
		       								<input style="height:60px; font-size: 48px;" ng-model="reportData.patient.pathology" ng-blur="updateReport()" ng-virtual-keyboard="{size:5, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}">
									    </md-input-container>
									</td>
						 			<td width="50%">
						 				<md-input-container style="height:20!important">
									       <label style="font-size: 48px">{{'Report.Operator' | translate}}</label>
		       								<input style="height:60px; font-size: 48px;" ng-model="reportData.patient.operator" ng-blur="updateReport()" ng-virtual-keyboard="{size:5, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}">
									    </md-input-container>
									</td>
						 		</tr>

						 	</table>
			      </md-card-content>
 		 	</md-card>

 		 </div>
 	</md-content>
</div>

<div class="reportPrint">
	<table height="100%">
		<tr>
			<td>
				
			   <md-button aria-label="Favorite" ng-click="editReport()" style="height:60px;" ng-show="pdf.data != null" >
			      <md-icon md-font-icon="fa-edit" class="fa s16 md-primary md-hue-2" style="font-size:48px; color: #1F497D"></md-icon>
			   </md-button>

			   <md-button aria-label="Favorite" ng-click="createPreview()" style="height:60px;" ng-show="pdf.data == null" >
					<!--<md-icon md-font-icon="fa-file-text" class="fa s16 md-primary md-hue-2" style="font-size:48px; color: #1F497D"></md-icon>
						-->
						<md-icon md-font-icon="fa-arrow-right" class="fa s16 md-primary md-hue-2" style="font-size:48px; color: #1F497D"></md-icon>
			   </md-button>
			   
			   <div class='embed-responsive'>
			   		
					<embed id="testPrintID" width= "500" height= "375" toolbar="1"/>
				</div>
			
			</td>
		 </tr>
		 <tr>
		 	<td><br><br></td>
		 </tr>

		<tr>
		 	<td><br><br></td>
		</tr>
		
		<tr>
		 	<td>
			   <md-button aria-label="Favorite" ng-click="saveOnArchive()" style="height:60px;" ng-show="pdf.data != null">
			      <md-icon md-font-icon="fa-save" class="fa s16 md-primary md-hue-2" style="font-size:48px; color: #1F497D"></md-icon>
			   </md-button>
		 	</td>
		</tr>

		<tr>
		 	<td><br><br></td>
		</tr>
		<tr>
		 	<td><br><br></td>
		</tr>

	<tr>
		<td>
			<md-button aria-label="Favorite" ng-click="saveReport()" style="height:60px;" ng-show="pdf.data != null" ng-disabled="pathPenDrive == null">
				<img src = "img/penDrive.png" height="60px" ng-show="pathPenDrive != null"/>
				<img src = "img/penDriveDisabled.png" height="60px" ng-show="pathPenDrive == null"/>
			</md-button>
		</td>
 </tr>

	<tr>
			<td><br><br></td>
	</tr>
	<tr>
			<td><br><br></td>
	</tr>
		
		<tr>

		 	<td>
			   <md-button  aria-label="Favorite" ng-click="doPrint()" style="height:60px;" ng-show="pdf.data != null">
			      <md-icon md-font-icon="fa-print" class="fa s16 md-primary md-hue-2" style="font-size:48px; color: #1F497D"></md-icon>
			   </md-button>
		 	</td>
		</tr>

   </table>
</div>


<div class="reportPreview" ng-if="embedVisible()">
	<embed ng-src="{{contenutoReferto}}" style="width: 748px; height: 500px"></embed>
</div>


<!-- INIZIO IMMAGINI DA UTILIZZARE NEL REFERTO -->
<img id="logoImg" src = "images/logoReferto" ng-show="false">
<img id="logoIromed" src = "images/logoIromed.jpg" ng-show="false">


<!-- FINE IMMAGINI DA UTILIZZARE NEL REFERTO -->



<!--
Data
Trattamento (Uno fra i protocolli) (nel caso megaride pachimetria, intensità, durata, steps)


<button ng-click="pdfMaker()">run pdf</button>
<button ng-click="downloadPdf()">download pdf</button>
-->