 <div class="logo"> 
      <img class="img-center center-block LogoImg"/> 
</div>

<!-- Layout comune a tutti gli stati -->   
<div class="verifyCalib">
  <h4>{{'SelectProtocol.protSelect' | translate}} </h4>
</div>
  

<!-- Protocol Claim -->
<div class="spSheet">
    <md-content>
      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button ng-style="{'font-size':'50px', height:'50px'}" ng-class="getButtonClass(protocol)" ng-repeat="protocol in protocols" ng-click="protocolChanged(protocol)" ng-disabled="isProtocolDisabled(protocol)">{{protocol.display}}</md-button>
      </section>

      <div style="overflow-y: hidden">
        <br/>
        <table ng-repeat="item in getProtocolClaims()">
          <tr>
            <td colspan="2">
                <!--
                  <p ng-bind-html="getHTML(item.row)"></p>
                -->
               <label style="font-size:46px; color: #1F497D" ng-bind-html="getHTML(item.row)"/>
            </td>
          </tr>

          <tr ng-repeat="innerRow in item.inner">
            <td width="30px"></td>
            <td>
                <!--
                  <p ng-bind-html="getHTML(innerRow.desc)"></p>
                -->
                <label style="font-size:44px; color: #1F497D" ng-bind-html="getHTML(innerRow.desc)"/>
              </td>
          </tr>

        </table>
      
      </div>

  </md-content>
</div>


<!--  Pulsante ok -->
<div class="spOkButton">
    <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:150px; height: 150px" ng-click="startProtocol()" >
      <img src="img/ok.png" width="80px"></img>
    </md-button>
</div>

<!--  Pulsante home -->
<div class="spHomeButton">
    <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="home()" >
       <md-icon md-font-icon="fa-home" class="fa s32 md-primary md-hue-2" style="font-size:64px; color: #1F497D"></md-icon>
    </md-button>
</div>
