 <div class="logo"> 
      <img class="img-center center-block LogoImg"/> 
</div>

<!-- Layout comune a tutti gli stati -->   
<div class="verifyCalib" ng-click="onclick()">
   <h4> Serial Terminal</h4>
</div>

 <div class ="vcButtonHome">
    <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="goToHome()" >
       <md-icon md-font-icon="fa-home" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D"></md-icon>
    </md-button>
 </div>

<div class="spSheet">

    <table>
        <tr>
            <td><input class="inpAdmin" type="text" ng-model="command" ng-virtual-keyboard="{size:5, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}"/></td>
            <td>
                <md-button class="btnAdmin" ng-click="sendCommand()">Send</md-button>
            </td>
        </tr>
    </table>

    <div id="Terminal" flex style="overflow-y: auto; height: 100%; width: 1100px" layout="column" ng-bind-html="htmlContent"/>
    
</div>
