 <div class="logo" ng-click="doClick4Management(1)"> 
      <img class="img-center center-block LogoImg"/> 
</div>


<div class="splash" ng-click="doClick4Management(2)" margin="auto">
  <img class="img-center center-block" src="img/splash3.png" width="100%"/>
</div>

<!--  INIZIO TABELLA CENTRALE -->
<div class="tableSplash">
   <table width="100%" height="100%">
	<! -- INIZIO VERIFICA CALIBRAZIONE-->
	<tr>
	  <td valign="top" width= "30%" align="center" height="100%">
	      <table height="100%">
		
		<tr>
		  <td align="center" valign="top">
    		     <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 80px" ng-show="progress.inited" ng-click="goNext()">
                      <md-icon md-font-icon="fa-adjust" class="fa s32 md-primary md-hue-2" style="font-size:80px; color: #1F497D"></md-icon>
                     </md-button>    
		  </td>
		</tr>
		
		<tr>
		  <td align="center" valign="top">
                        <p ng-click="goNext()">{{'Splash.Calibration' | translate}}</p>
		  </td>
		</tr>
			
		<tr>
		  <td align="center" valign="bottom">
    		      <md-icon md-font-icon="fa-exclamation-triangle" class="fa s32 md-primary md-hue-2" style="font-size:80px; height: 80px; color: #1F497D" ng-show="verifyNeeded" ng-click="goNext()"></md-icon>
		  </td>
		</tr>
			
            </table>
	  
          </td>	
	<! -- FINE VERIFICA CALIBRAZIONE-->

	<! -- INIZIO TRATTAMENTI-->	  
	<td valign="top" width= "30%" align="center">
	     <table>
		<tr>
		   <td align="center" valign="top">
		     <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 80px" ng-show="progress.inited" ng-click="goToProtocols()">
                     <md-icon md-font-icon="fa-sign-out" class="fa s32 md-primary md-hue-2" style="font-size:80px;  color: #1F497D"></md-icon>
                     </md-button>
	           </td>
		</tr>
	
		<tr>
		   <td align="center" valign="top">
		      <center><p ng-click="goToProtocols()">{{'Splash.Treatment' | translate}}</p></center>
	           </td>
		</tr>
	     </table>
	  </td>
	<! -- FINE TRATTAMENTI-->

	<! -- INIZIO ARCHIVIO -->
	<td valign="top" width= "30%" align="center">
	     <table>
		<tr>
		   <td align="center" valign="top">
		      <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 80px" ng-click="goToArchive()">
			  <md-icon md-font-icon="fa-folder-open" class="fa s32 md-primary md-hue-2" style="font-size:80px; color: #1F497D" ></md-icon>
		      </md-button>
	           </td>
		</tr>
	
		<tr>
		   <td align="center" valign="top">
		      <center><p ng-click="goToArchive()">{{'Splash.Archive' | translate}}</p></center>
	           </td>
		</tr>
	     </table>
	  </td>
	<! -- FINE ARCHIVIO -->

	</tr>	
</table>
</div>
<!-- FINE TABELLA CENTRALE-->




<div class="splashBar" ng-show="!progress.inited">
  <md-progress-linear md-mode="indeterminate" ng-show="!progress.inited" style="width:100px;"></md-progress-linear>
</div>

<!-- VERSIONE SOFTWARE + PULSANTE AGGIORNAMENTO-->
<div class = "SwVersion"> 
	<label style="font-size:20px; color: #1F497D; font-style: italic; width:80%">{{'General.version' | translate}}: {{swVersion}} 
	</label>
</div>

<div class = "SwUpdate" ng-show="updateAvailable"> 
	<md-button class="md-icon-button" aria-label="Favorite" style="width:20%; height: 100%" ng-click="updateSoftware()" >
		<md-icon md-font-icon="fa-download" class="fa s32 md-primary md-hue-2" style="font-size:32px; color: #1F497D"></md-icon>
	</md-button>
</div>



<!-- 
<div class = "SwVersion"> 
	  <table width = "100%">
		  <tr>
			  <td width="30%"><label style="font-size:20px; color: #1F497D; font-style: italic; width:80%">{{'General.version' | translate}}: {{swVersion}} 
				</label></td>
			  <td>
				  <div ng-click="updateSoftware()" ng-show="updateAvailable">
					<md-button class="md-icon-button" aria-label="Favorite" style="width:20%; height: 100%" ng-click="updateSoftware()" >
						<md-icon md-font-icon="fa-download" class="fa s32 md-primary md-hue-2" style="font-size:32px; color: #1F497D"></md-icon>
					</md-button>
				</div>
			  </td>
		  </tr>
	  </table>	
  </div>

-->


<!-- LINGUA -->
  <div class = "Language" ng-click="goToLanguage()">
    <md-button class="md-icon-button" aria-label="Favorite" style="width:100%; height: 100%" >
        <md-icon md-font-icon="fa-flag" class="fa s28 md-primary md-hue-2" style="font-size:28px; color: #1F497D"></md-icon>
    </md-button>
  </div>

<!-- STATO DELLA RETE -->
  <div class = "network" ng-if="!statusConnection">
    <md-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="openNetworkConfiguration()">
        <md-icon ng-if="statusConnection" md-font-icon="fa-link" class="fa s32 md-primary md-hue-2" style="font-size:23px; color: #1F497D" ></md-icon>
        <md-icon ng-if="!statusConnection" md-font-icon="fa-unlink" class="fa s28 md-primary md-hue-2" style="font-size:28px; color: #1F497D" ></md-icon>
    </md-button>
  </div>

<!-- ASSISTENZA REMOTA -->
  <div class="remoteAssistance" ng-if="statusConnection && !RemoteAssistanceDisabled">
    <md-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="openRemoteAssistance()">
        <md-icon md-font-icon="fa-user" class="fa s24 md-primary md-hue-2" aria-hiden="true" style="font-size:24px; color: #1F497D" ></md-icon>
    </md-button>
  </div>

<!-- PANNELLO AMMINISTRAZIONE -->
  <div class="Administration">
    <md-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="openManagement()">
        <md-icon md-font-icon="fa-wrench" class="fa s28 md-primary md-hue-2" aria-hiden="true" style="font-size:28px; color: #1F497D" ></md-icon>
    </md-button>
  </div>

  <!-- ICONA WIFI -->
  <div class="Wifi">
    <md-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="openNetworkConfiguration()">
		<md-icon md-font-icon="fa-wifi" class="fa s28 md-primary md-hue-2" aria-hiden="true" style="font-size:28px; color: #1F497D" ng-show="wifiEnabled"></md-icon>
		<md-icon md-font-icon="fa-wifi" class="fa s28 md-primary md-hue-2" aria-hiden="true" style="font-size:28px; color: #C0C0C0" ng-show="!wifiEnabled"></md-icon>
    </md-button>
  </div>

