 <!-- INIZIO PANNELLO TIMER IMBIBIZIONE-->
<div ng-show="timerImbibitionMode">
  <table width="100%" height="100%">
    <tr height="10%">
      <td align="left" height="50px"></td>
      <td> <md-input-container >
          <md-switch md-theme="blueTheme" class="md-primary" width="60px" aria-label="Switch No Ink" ng-model="timerImbibionEnabled" ng-change="updateTimerImbibitionEnabled()">
            {{'Treatment.WhiteLed' | translate}}</md-switch>
          </md-input-container> 
      </td>
    </tr>
  </table>
</div> 
 <!-- FINE PANNELLO TIMER IMBIBIZIONE-->
 
 <!-- INIZIO PANNELLO TRATTAMENTO-->
 <div ng-show="!timerImbibitionMode">

  <div class="prCentral">
    <table width="100%" height="100%">
      <tr height="10%">
        <td align="left" height="50px">
      <!-- Pulsante attivazione/disattivazione mirino -->
        <div ng-show="!exeCamera()">
          <div ng-show="isMirinoEnabled()" ng-click="setMirinoEnabled(false)">
      <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:60px; height: 60px">
          <md-icon md-font-icon="fa-eye-slash" class="fa s32 md-primary md-hue-2" style="font: size 60;px; color: #1F497D"></md-icon>
      </md-button>
          </div>
          <div ng-show="!isMirinoEnabled()" ng-click="setMirinoEnabled(true)">
      <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:60px; height: 60px">
          <md-icon md-font-icon="fa-eye" class="fa s32 md-primary md-hue-2" style="font: size 60;px; color: #1F497D"></md-icon>
      </md-button>
          </div>
      </div>
        </td>

        <!-- Spazio per telecamera -->
        <td width="70%">
        </td>

        <td align="left" >
          <!--Pulsante accensione led bianco-->
          <div ng-show="isWhiteLedBarVisible()">
        <md-input-container >
        <md-switch md-theme="blueTheme" class="md-primary" width="60px" aria-label="Switch No Ink" ng-model="whiteLed" ng-change="updateWhiteLed()">{{'Treatment.WhiteLed' | translate}}</md-switch>
        </md-input-container> 
    </div>
        
    <!-- Pulsante accensione focus -->
    <div ng-show="isFocusEnabled()">
      <md-input-container >
        <md-switch md-theme="blueTheme" class="md-primary" aria-label="Switch No Ink" ng-model="focus" ng-change="updateFocus()">{{'Treatment.Focus' | translate}}</md-switch>
      </md-input-container> 
    </div>
        </td>
        
        <td width="20px"></td>
      </tr>

      <!-- Riquadro protocollo -->

      <tr>
        <td></td>
        <td></td>
        <td align="left" height="6%"><b>{{'General.protocol' | translate}}</b>: {{getProtocol()}}</td>
        <td width="10px"></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td align="left"><b>{{'General.phase' | translate}}</b>: {{getCurrentStepDescription()}}</td>
        <td width="20px"></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td align="left" height="70%" valign="top">{{getStepMessage() | translate}}</td>
        <td width="20px"></td>
      </tr>
    
    </table>

    <!-- Inizio Configurazione parametri telecamera-->
    <div class="configParamCamera" ng-show ="configCamera">
        <table>
          <tr>
              <td>Brightness</td>
              <td width="10%"></td>
              <td height="80px" width= "100px">
                  <md-slider-container>
                    <md-slider min="0" max="10" ng-model="paramsCamera.brightness" aria-label="blue" id="blue-slider" class="md-primary" ng-change="setBrightness()">
                    </md-slider>
              </td>
              <td width="80px">
                    <md-input-container>
                        <input type="number" ng-model="paramsCamera.brightness" aria-label="blue" aria-controls="blue-slider">
                      </md-input-container>
                    </md-slider-container>
              </td>
              
          </tr>

          <tr>
              <td>Contrast</td>
              <td width="10%"></td>
              <td>
                  <md-slider min="0" max="20" ng-model="paramsCamera.contrast" aria-label="red" id="red-slider" class="md-warn" ng-change="setContrast()">
                </md-slider>
              </td>
              <td width="80px">
                    <md-input-container>
                        <input type="number" ng-model="paramsCamera.contrast" aria-label="red" aria-controls="red-slider">
                      </md-input-container>
                    </md-slider-container>
              </td>
          </tr>

          <tr>
              <td>Saturation</td>
              <td width="10%"></td>
              <td>
                  <md-slider min="0" max="10" ng-model="paramsCamera.saturation" aria-label="green" id="green-slider" class="md-accent" ng-change="setSaturation()">
                </md-slider>
              </td>
              <td width="80px">
                    <md-input-container>
                        <input type="number" ng-model="paramsCamera.saturation" aria-label="green" aria-controls="green-slider">
                      </md-input-container>
                    </md-slider-container>
              </td>
          </tr>

          <tr>
              <td>Sharpness</td>
              <td width="10%"></td>
              <td>
                  <md-slider min="0" max="10" ng-model="paramsCamera.sharpness" aria-label="green" id="green-slider" class="md-accent" ng-change="setSharpness()">
                </md-slider>
              </td>
              <td width="80px">
                    <md-input-container>
                        <input type="number" ng-model="paramsCamera.sharpness" aria-label="green" aria-controls="green-slider">
                      </md-input-container>
                    </md-slider-container>
              </td>
          </tr>        
          
        </table>
    </div>

    <!-- Fine Configurazione parametri telecamera-->




  </div> 


      <!-- Canvas telecamera -->
      
      <canvas id="canvasDisegno" ng-dblclick="reloadCamera()"/>
      <div class="prCamera">
          
  <!--
        <video id="videoCanvas" style="width: 800px; height: 600px; background-color: #666; -webkit-transform: scaleX(-1);" ></video>        
  -->
      <video id="videoCanvas" style="width: 1200px; height: 900px; background-color: #666;" ></video>
          
      </div>



      <!-- TIMER -->
      <!--
        <div class="prTime" ng-click="timerDoClick()">{{timer.display}}</div>
      -->

      <!--
      <div class="prTime" ng-click="timerDoClick()"><timer interval="1000" countdown="10" autostart="false" finish-callback="nextStep()" 
          ng-show="hoursVisible && timerVisible && !(mminutes.toString().includes('-')) && !(sseconds.toString().includes('-'))">
        {{hhours}}:{{mminutes}}:{{sseconds}} </timer></div>
      
        <div class="prTime" ng-click="timerDoClick()"><timer interval="1000" countdown="10" autostart="false" finish-callback="nextStep()" 
            ng-show="!hoursVisible && timerVisible && !(mminutes.toString().includes('-')) && !(sseconds.toString().includes('-'))">
          {{mminutes}}:{{sseconds}} </timer></div>
-->
        <div class="prTime" ng-click="timerDoClick()"><timer interval="1000" countdown="10" autostart="false" finish-callback="nextStep()" 
          ng-show="timerVisible ">
        {{timer.timerString}} </timer></div>
    


      <!-- SALTO IMBIBIZIONE -->
      <div class="prJump" ng-show="!timer.jumpEnabled">
        <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:180px; height: 100px" ng-click="doJump()" ng-show="isJumpEnabled()">
            <md-icon md-font-icon="fa-hourglass-end" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D"></md-icon>
        </md-button>
      </div>
      <div class="prJumpArrow" ng-show="timer.jumpEnabled">
          <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:180px; height: 110px" ng-click="doJump()" ng-show="isJumpEnabled()">
              <md-icon md-font-icon="fa-arrow-right" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D"></md-icon>
          </md-button>
        </div>
    

  
      

      <!--Pulsanti comando -->
      <div class="prButton">
        <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:180px; height: 100px" ng-click="resume()" ng-show="isRunEnabled()">
            <md-icon md-font-icon="fa-play-circle-o" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D"></md-icon>
        </md-button>
      </div>


      <div class="prButton">
        <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:180px; height: 100px" ng-click="pause()" ng-show="isPauseEnabled()">
            <md-icon md-font-icon="fa-pause-circle-o" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D"></md-icon>
        </md-button>
      </div>

      
    
      
      
      <!-- Contenitore della progress visibile in alto solo se settata la variabile treatmentHistory.visible-->
      <div class="prStatusHor" ng-show="treatmentHistory.visible">
        <table width="100%" height="100%">
            <tr>
              <!--Icona info -->
              <td width="30px">
                <table width="100%" height="100%">
                    <tr>
                      <td align="left">
                        <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:60px; height: 60px" ng-click="showTreatmentInfo()">
                            <md-icon md-font-icon="fa-info-circle" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D"></md-icon>
                        </md-button></td></tr>
                        <tr><td> <br></td></tr>
                      </table>
              </td>
              <!--  Ciclo sulle fasi-->
              <td ng-repeat="step in tableSteps">

                    <!-- IMBIBIZIONE O IRRADIAZIONE -->
                    <div ng-if="step.type == 1 || step.type == 2"> 
                      <table width="100%" height="100%">
                            <tr><td height="12px">
                              
                                  <div ng-if="isStepDoing(step)" md-theme="treatDoingTheme">
                                      <md-progress-linear md-mode="determinate" value="{{getStepProgessPercentage(step)}}"></md-progress-linear>
                                  </div>
                                  <div ng-if="isStepDone(step)" md-theme="treatDoneTheme">
                                      <md-progress-linear md-mode="determinate" value="{{getStepProgessPercentage(step)}}"></md-progress-linear>
                                  </div>
                                  <div ng-if="isStepToDo(step)" md-theme="treatToDoTheme">
                                      <md-progress-linear md-mode="determinate" value="{{getStepProgessPercentage(step)}}"></md-progress-linear>
                                  </div>
                            </td></tr>

                        <tr><td><label ng-style="getStepDescStyle(step)">{{getStepDescription(step)}}</label></td></tr>
                      </table>
                    </div> 
                    
                    <!-- PAUSA -->
                    <div ng-if="step.type == 0 "> 
                      <table width="100%" height="100%">
                        <tr><td align="center"><md-icon md-font-icon="fa-tint" class="fa s32 md-primary md-hue-2" ng-style="getStepIconStyle(step)"></md-icon></td></tr>
                        <tr><td> <br></td></tr>
                      </table>
                    </div>

                    <!-- TRATTAMENTO TERMINATO -->
                    <div ng-if="step.type == 3 "> 
                      <table width="100%" height="100%">
                        <tr><td align="center"><md-icon md-font-icon="fa-check" class="fa s32 md-primary md-hue-2" ng-style="getStepIconStyle(step)"></md-icon></td></tr>
                        <tr><td> <br></td></tr>
                      </table>
                    </div>

                    <!-- POSIZIONAMENTO PAZIENTE -->
                    <div ng-if="step.type == 4 "> 
                      <table width="100%" height="100%">
                        <tr><td align="center"><md-icon md-font-icon="fa-arrows" class="fa s32 md-primary md-hue-2" ng-style="getStepIconStyle(step)"></md-icon></td></tr>
                        <tr><td> <br></td></tr>
                      </table>
                    </div>
                    <!--
                    <div ng-if="step.type == 1 || step.type == 2"> 
                      <md-icon md-font-icon="fa-share" class="fa s32 md-primary md-hue-2" style="font-size:40px; color: #1F497D" ></md-icon>
                      fa-tint per goccia
                    </div>
                    -->

              </td>

            
              <!-- logica per assistenza remota -->
              <td width="50px" valign="top">
                  <md-button class="md-icon-button md-accent" style="width:60px; height: 60px" aria-label="Favorite" ng-if="!RemoteAssistanceDisabled" ng-click="openNetworkConfiguration()" ng-if="!statusConnection">
                    <md-icon ng-if="!statusConnection" md-font-icon="fa-unlink" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D" ></md-icon>
                </md-button>

                <md-button class="md-icon-button md-accent" style="width:60px; height: 60px" aria-label="Favorite" ng-if="!RemoteAssistanceDisabled" ng-click="openRemoteAssistance()" ng-if="statusConnection">
                    <md-icon md-font-icon="fa-user" class="fa s32 md-primary md-hue-2" aria-hiden="true" style="font-size:60px; color: #1F497D" ></md-icon>
                </md-button>
              </td>

            </tr>
        </table>
      </div>

</div>
<!-- FINE PANNELLO TRATTAMENTO-->