    
    <!-- Pulsante back -->
    <!--
    <div class="prBack" ng-click="goToProtocolSelection()" ng-show="backButtonVisible">
      <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:50px; height: 100px" ng-click="shutDown()">
            <md-icon md-font-icon="fa-arrow-circle-left" class="fa s32 md-primary md-hue-2" style="font-size:40px; color: #1F497D"></md-icon>
        </md-button>
    </div>
    -->

    <!--Pulsante accensione led bianco-->
    <div class="prWhiteLed" ng-show="isWhiteLedBarVisible()">
      <md-input-container >
            <md-switch md-theme="blueTheme" class="md-primary" aria-label="Switch No Ink" ng-model="whiteLed" ng-change="updateWhiteLed()">{{'Treatment.WhiteLed' | translate}}</md-switch>
      </md-input-container> 
    </div>
    
    <!-- Pulsante accensione focus -->
    <div class="prWhiteLed" ng-show="isFocusEnabled()">
      <md-input-container >
            <md-switch md-theme="blueTheme" class="md-primary" aria-label="Switch No Ink" ng-model="focus" ng-change="updateFocus()">{{'Treatment.Focus' | translate}}</md-switch>
      </md-input-container> 
    </div>





    <!-- Canvas telecamera -->
    <canvas id="canvasDisegno" ng-dblclick="reloadCamera()"/>
    <div class="prCamera">
	      
<!--
      <video id="videoCanvas" style="width: 800px; height: 600px; background-color: #666; -webkit-transform: scaleX(-1);" ></video>        
-->
    <video id="videoCanvas" style="width: 800px; height: 600px; background-color: #666;" ></video>
        
    </div>

    <!-- Riquadro protocollo -->
    <div class="prDescription"><b>{{'General.protocol' | translate}}</b>: {{getProtocol()}} </div>
    <div class="prPhase"><b>{{'General.phase' | translate}}</b>: {{getCurrentStepDescription()}} <br></div>
    <div class="prMessage">{{getStepMessage() | translate}}</div>

    <!-- TIMER -->
    <!--
      <div class="prTime" ng-click="timerDoClick()">{{timer.display}}</div>
    -->
     <div class="prTime" ng-click="timerDoClick()"><timer interval="1000" countdown="10" autostart="false" finish-callback="nextStep()">{{mminutes}}:{{sseconds}} </timer></div>

    <!-- SALTO IMBIBIZIONE -->
    <div class="prJump">
      <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:180px; height: 100px" ng-click="doJump()" ng-show="isJumpEnabled()">
          <md-icon md-font-icon="fa-hourglass-end" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D"></md-icon>
      </md-button>
    </div>

    <!-- Pulsante attivazione/disattivazione mirino -->
    <div ng-show="!exeCamera()">
       <div class="prMirino" ng-show="isMirinoEnabled()" ng-click="setMirinoEnabled(false)">
        <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:30px; height: 30px">
            <md-icon md-font-icon="fa-eye-slash" class="fa s32 md-primary md-hue-2" style="font-size:20px; color: #1F497D"></md-icon>
        </md-button>
      </div>
       <div class="prMirino" ng-show="!isMirinoEnabled()" ng-click="setMirinoEnabled(true)">
        <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:30px; height: 30px">
            <md-icon md-font-icon="fa-eye" class="fa s32 md-primary md-hue-2" style="font-size:20px; color: #1F497D"></md-icon>
        </md-button>
      </div>
  </div>
    

    <!--Pulsanti comando -->
    <div class="prButton">
      <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:180px; height: 100px" ng-click="resume()" ng-show="isRunEnabled()">
          <md-icon md-font-icon="fa-play-circle-o" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D"></md-icon>
      </md-button>
    </div>


    <div class="prButton">
      <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:180px; height: 100px" ng-click="pause()" ng-show="isPauseEnabled()">
          <md-icon md-font-icon="fa-pause-circle-o" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D"></md-icon>
      </md-button>
    </div>

  
    <!-- Contenitore della progress visibile in alto solo se settata la variabile treatmentHistory.visible-->
    <div class="prStatusHor" ng-show="treatmentHistory.visible">
      <table width="100%" height="100%">
          <tr>
            <!--Icona info -->
            <td width="30px">
              <table width="100%" height="100%">
                  <tr>
                    <td align="left">
                      <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:30px; height: 28px" ng-click="showTreatmentInfo()">
                          <md-icon md-font-icon="fa-info-circle" class="fa s32 md-primary md-hue-2" style="font-size:24px; color: #1F497D"></md-icon>
                      </md-button></td></tr>
                      <tr><td> <br></td></tr>
                    </table>
            </td>
            <!--  Ciclo sulle fasi-->
            <td ng-repeat="step in tableSteps">

                  <!-- IMBIBIZIONE O IRRADIAZIONE -->
                  <div ng-if="step.type == 1 || step.type == 2"> 
                    <table width="100%" height="100%">
                          <tr><td height="12px">
                            
                                <div ng-if="isStepDoing(step)" md-theme="treatDoingTheme">
                                    <md-progress-linear md-mode="determinate" value="{{getStepProgessPercentage(step)}}"></md-progress-linear>
                                </div>
                                <div ng-if="isStepDone(step)" md-theme="treatDoneTheme">
                                    <md-progress-linear md-mode="determinate" value="{{getStepProgessPercentage(step)}}"></md-progress-linear>
                                </div>
                                <div ng-if="isStepToDo(step)" md-theme="treatToDoTheme">
                                    <md-progress-linear md-mode="determinate" value="{{getStepProgessPercentage(step)}}"></md-progress-linear>
                                </div>
                          </td></tr>

                      <tr><td><label ng-style="getStepDescStyle(step)">{{getStepDescription(step)}}</label></td></tr>
                    </table>
                  </div> 
                  
                  <!-- PAUSA -->
                  <div ng-if="step.type == 0 "> 
                    <table width="100%" height="100%">
                      <tr><td align="center"><md-icon md-font-icon="fa-tint" class="fa s32 md-primary md-hue-2" ng-style="getStepIconStyle(step)"></md-icon></td></tr>
                      <tr><td> <br></td></tr>
                    </table>
                  </div>

                  <!-- TRATTAMENTO TERMINATO -->
                  <div ng-if="step.type == 3 "> 
                    <table width="100%" height="100%">
                      <tr><td align="center"><md-icon md-font-icon="fa-check" class="fa s32 md-primary md-hue-2" ng-style="getStepIconStyle(step)"></md-icon></td></tr>
                      <tr><td> <br></td></tr>
                    </table>
                  </div>

                   <!-- POSIZIONAMENTO PAZIENTE -->
                  <div ng-if="step.type == 4 "> 
                    <table width="100%" height="100%">
                      <tr><td align="center"><md-icon md-font-icon="fa-arrows" class="fa s32 md-primary md-hue-2" ng-style="getStepIconStyle(step)"></md-icon></td></tr>
                      <tr><td> <br></td></tr>
                    </table>
                  </div>
                  <!--
                  <div ng-if="step.type == 1 || step.type == 2"> 
                    <md-icon md-font-icon="fa-share" class="fa s32 md-primary md-hue-2" style="font-size:40px; color: #1F497D" ></md-icon>
                    fa-tint per goccia
                  </div>
                  -->

            </td>

            <!-- logica per assistenza remota -->
            <td width="30px" >
                <md-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="openNetworkConfiguration()" ng-if="!statusConnection">
                  <md-icon ng-if="!statusConnection" md-font-icon="fa-unlink" class="fa s32 md-primary md-hue-2" style="font-size:23px; color: #1F497D" ></md-icon>
               </md-button>

               <md-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="openRemoteAssistance()" ng-if="statusConnection">
                  <md-icon md-font-icon="fa-user" class="fa s32 md-primary md-hue-2" aria-hiden="true" style="font-size:23px; color: #1F497D" ></md-icon>
              </md-button>
            </td>

          </tr>
      </table>
    </div>
