 <div class="logo"> 
      <img class="img-center center-block LogoImg"/> 
</div>

<!-- Layout comune a tutti gli stati -->   
<div class="verifyCalib" ng-click="onclick()">
   <h4> {{'Calibration.verify' | translate}}</h4>
</div>

 <div class ="vcButtonHome">
    <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="goToHome()" >
       <md-icon md-font-icon="fa-home" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D"></md-icon>
    </md-button>
 </div>


<!-- Layout stato 0 (avvio procedura) -->

<div ng-show="state.status<3">

    <!--   Istruzioni posizionamento UV meter-->
    <div class="vcIstructionsCamera">
        <p>{{'Calibration.PositionUVMETER' | translate}} <br>{{'Calibration.StartProcedure' | translate}}</p>
    </div>

    <div class="vcCamera">
          
         <!-- video id="videoCanvas" style="width: 560px; height: 420px; background-color: #666; -webkit-transform: scaleX(-1);"></video -->
	 <video id="videoCanvas" style="width: 1040px; height: 780px; background-color: #666; -webkit-transform: scaleX(-1);" ></video>
    </div>
     <!--  Pulsante ok -->
    <div class="vcOkButton">
        <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="okCalibration()" >
             <!--
                <md-icon md-font-icon="fa-sign-in" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D" >                
                </md-icon>
                -->
                <img src="img/ok.png" width="80px"></img>
        </md-button>
    </div>

</div>


<!-- Layout stato 1 (posizionamento uv meter) -->
<div ng-show="state.status==4">
    
    <!--   Istruzioni posizionamento UV meter-->
    <div class="vcIstructions">
        <p>{{'Calibration.ValueUVMETER' | translate}}</p>
    </div> 

   <!--
    <div class="vcInput">
        <input type='text' ng-model="state.valUvMeter" ng-virtual-keyboard="{kt: 'Numerico'}"/>   
    </div>
    -->

    <div class="vcInput">

	<input type='text' style="height:60px; font-size: 52px; width:90%; font-weight:bold; border:3px solid #1F497D" ng-model="state.valUvMeter" ng-virtual-keyboard="{size:5, kt: 'Numerico', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}"/>
    </div>

    <!--  Pulsante ok -->
    <div class="vcOkButtonInsert" ng-show="state.warning == 0">
        <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="okCalibration()" >
             <!--
                <md-icon md-font-icon="fa-sign-in" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D" >                
                </md-icon>
                -->
                <img src="img/ok.png" width="80px"></img>
        </md-button>
    </div>

</div>

<!-- Layout stato 2 (Immissione valore misurato su uv meter) -->   

<!--  NON C'E' NULLA-->

<!-- Messaggio errore -->
<div ng-show="state.warning > 0">
    <!--   Istruzioni posizionamento UV meter-->
    <div class="vcWarning">
        <p><h4><i class="fa fa-exclamation-circle"></i> {{getWarningMessage() | translate}}</h4> 
    </div>

    <!--  Pulsante ok -->
    
    <div class="vcOkInWarnButton">
        <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="okCalibration()">
            <img src="img/ok.png" width="80px"></img>
        </md-button>
    </div>

    

</div>


<!--
<div class="vcWarning">
        <p><h4> {{state.status}}</h4> 
    </div>
-->
