 <div class="logo"> 
      <img class="img-center center-block LogoImg"/> 
</div>

<!-- Layout comune a tutti gli stati -->   
<div class="verifyCalib" ng-click="onclick()">
   <h4> WI-FI</h4>
</div>

 <div class ="vcButtonHome">
    <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="goToHome()" >
       <md-icon md-font-icon="fa-home" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D"></md-icon>
    </md-button>
 </div>

 

<div class="spSheet" >

  
    <div ui-i18n="{{lang}}" style="font-size:36px!important">
     
      <!--
        <div ui-grid="gridOptions" ui-grid-pagination class="archiveGrid"></div>
-->
<div ui-grid="gridOptions" ui-grid-pagination class="archiveGrid" style="width: 60%"></div>

      <div class="well wifi-loading" ng-show="dataLoading">
          <i class="fa fa-spin fa-spinner"></i>
          <strong>Wi fi scanning...</strong>
      </div>
    </div>
</div>


<!--
    Riquadro contenente i dettagli della wi-fi
-->
<div class="wifiDetails" ng-show="selectedNetwork!=null">
    <table>
        <tr>
            <td colspan="2"><label style="font-size: 48px" ng-show="selectedNetwork!=null">SSID:</label></td>
            <td></td>
        </tr>
        <tr>
            <td width="100px"></td>
            <td><label style="font-size: 40px" ng-show="selectedNetwork!=null">{{selectedNetwork.ssid}}</label></td>
            <td></td>
        </tr>

        <tr>
            <td><br></td>
        </tr>

        <tr>
            <td colspan="2"><label style="font-size: 48px" ng-show="selectedNetwork!=null">PASSWORD:</label></td>
            <td></td>
        </tr>
        <tr>
            <td width="100px"></td>
            <td colspan="2"><input style="width:400px" type="password" id="pwdInput" ng-model="selectedNetwork.password" autocomplete="nope" ng-show="selectedNetwork!=null" 
                ng-virtual-keyboard="{size:5, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false', autoAccept: 'true', enterSubmit: okButton}"></input></td>
        </tr>
        
        <tr>
            <td><br></td>
        </tr>

        <tr>
            <td><br></td>
        </tr>
        <tr>
            <td colspan="3" align="center"> <md-button ng-style="{'font-size':'48px', height:'60px'}" class="md-raised" ng-click="connect()">{{'WiFi.connection' | translate}}</md-button> </td>
        </tr>

    </table>
    
</div>

<!-- Refresh -->
<div class="wifiRefresh">
    <md-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="scanWifi()">
        <md-icon md-font-icon="fa-repeat" class="fa s32 md-primary md-hue-2" aria-hiden="true" style="font-size:32px; color: #1F497D" ></md-icon>
    </md-button>
</div>

<!-- Toggle stato wifi -->
<div class="wifiEnable">
<md-input-container >
    <md-switch md-theme="blueTheme" class="md-primary" width="60px" aria-label="Switch No Ink" ng-model="wifiEn" ng-change="updateWifiStatus()"></md-switch>
  </md-input-container> 
</div>