
<!-- Riga superiore -->
<h4>{{'Calibration.title' | translate}} - {{'Calibration.steps' | translate}} {{state.step}} {{'General.of' | translate}} {{state.numSteps}}</h4>

<!-- Layout stato 0 (avvio procedura) -->
<div ng-show="state.status==0">
	<label>{{'Calibration.PositionUVMETER' | translate}} </label><br>
	<label>{{'Calibration.StartProcedure' | translate}} </label><br>
	<md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="startCalibration()">
    	<md-icon md-font-icon="fa-sign-in" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: blue" ></md-icon>
    </md-button>

</div>


<!-- Layout stato 1 (posizionamento uv meter) -->
<div ng-show="state.status==1">
    <md-icon md-font-icon="fa-exclamation-triangle" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: blue" ></md-icon>
    <br><br>
    <label>{{'Calibration.ValueUVMETER' | translate}}: </label><input type='text' ng-model="state.valUvMeter" ng-virtual-keyboard="{kt: 'Numerico'}"/><br>

    <div>
	    <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="updateCalibration()">
	    	<md-icon md-font-icon="fa-hand-o-right" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: blue" ></md-icon>
	    </md-button>
	</div>

</div>

<!-- Layout stato 2 (Lettura valore misurato) -->
<div ng-show="state.status==2">
</div>