 <div class="logo"> 
      <img class="img-center center-block LogoImg"/> 
</div>

<!--  Pulsante back -->
<div class="spHomeButton">
    <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="back()">
       <md-icon md-font-icon="fa-arrow-circle-left" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D"></md-icon>
    </md-button>
</div>


<!-- INIZIO CASO GENERALE -->
<div ng-show="!isForMiopia()">

    <div class="verifyCalib">
      <h4>{{'SelectProtocol.MegarideOptions.Description' | translate}}</h4>
    </div>


    <!-- Numero di step -->
    <div class="spSheet">
        
        <div class="row row-centered">
        	<br><br>
        </div>

    	<div class="row row-centered">
            <md-button ng-style="{'font-size':'48px', height:'60px'}" class="md-raised" ng-click="setProtocolOption(1)">
                {{'SelectProtocol.MegarideOptions.1Step' | translate}}
            </md-button>
        </div>
        <div class="row row-centered">
        	<br><br><br><br>
        </div>
        <div class="row row-centered">
            <md-button ng-style="{'font-size':'48px', height:'60px'}" class="md-raised" ng-click="setProtocolOption(2)">
                {{'SelectProtocol.MegarideOptions.2Step' | translate}}
            </md-button>
        </div>
    </div>
</div>

<!-- FINE CASO GENERALE -->

<!-- INIZIO CASO SPECIFICO PER MIOPIA -->
<div ng-show="isForMiopia()">

    <div class="verifyCalib" >
      <h4>{{'SelectProtocol.DresdenOptions.Description' | translate}} {{protocol}}</h4>
    </div>

        <!-- Numero di step -->
    
    <div class="spSheet">
        <table style="margin-left:200">
            <!-- 30 mW -->
            <tr>
                <td><label style="font-size: 30px">  30 mW </label></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td width="30"></td>
                <td><md-button ng-style="{'font-size':'26px', height:'40px'}" class="md-raised" ng-click="setMiopiaParameters(1, 30)">1 min</md-button>
                <td width="50"></td>
                </td>
                <td><md-button ng-style="{'font-size':'26px', height:'40px'}" class="md-raised" ng-click="setMiopiaParameters(1.5, 30)">1.5 min</md-button>
                </td>
            </tr>

            <tr>
                <td><br></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>



            <!-- 18 mW -->
            <tr>
                <td><label style="font-size: 30px">  18 mW </label></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td width="30"></td>
                <td><md-button ng-style="{'font-size':'26px', height:'40px'}" class="md-raised" ng-click="setMiopiaParameters(1.66, 18)">1.6 min</md-button></td>
                <td width="50"></td>
                <td><md-button ng-style="{'font-size':'26px', height:'40px'}" class="md-raised" ng-click="setMiopiaParameters(2.5, 18)">2.5 min</md-button></td>                
            </tr>
            <tr>
                <td><br></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>



            <!-- 9 mW -->
            <tr>
                <td><label style="font-size: 30px">  9 mW </label></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td width="30"></td>
                <td> <md-button ng-style="{'font-size':'26px', height:'40px'}" class="md-raised" ng-click="setMiopiaParameters(3.3, 9)">3.3 min</md-button></td>
                <td width="50"></td>
                <td> <md-button ng-style="{'font-size':'26px', height:'40px'}" class="md-raised" ng-click="setMiopiaParameters(5, 9)">5 min</md-button></td>                
            </tr>
            <tr>
                <td><br></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <!-- 3 mW -->
            <tr>
                <td><label style="font-size: 30px">  3 mW </label></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td width="30"></td>
                <td> <md-button ng-style="{'font-size':'26px', height:'40px'}" class="md-raised" ng-click="setMiopiaParameters(10, 3)">10 min</md-button></td>
                <td width="50"></td>
                <td> <md-button ng-style="{'font-size':'26px', height:'40px'}" class="md-raised" ng-click="setMiopiaParameters(15, 3)">15 min</md-button></td>                
            </tr>
        </table>
        
       
    </div>
</div>
<!-- FINE CASO SPECIFICO PER MIOPIA -->
