  <style rel="stylesheet" >
  /* Styles go here */

.active, .inactive {font-size:50px;cursor:pointer;}
.active, .inactive {font-size:50px;cursor:pointer;}
i.active { color: #5cb85c}
i.inactive {color: #d9534f}
  </style>


 <div class="logo"> 
      <img class="img-center center-block LogoImg"/> 
</div>

<!-- Riga superiore -->

<!--  Pulsante back -->
<div class="spHomeButton">
    <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="back()">
       <md-icon md-font-icon="fa-arrow-circle-left" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D"></md-icon>
    </md-button>
</div>

<div class="verifyCalib">
  <h4>{{'Megaride.thicknessSelect' | translate}}</h4>
</div>

<!-- Layout stato 1 (posizionamento uv meter) -->


<div class="spSheet">
    <!--
    <md-icon md-font-icon="fa-exclamation-triangle" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: blue" ></md-icon>
    <br><br>
    -->
    <p>
    <table height="60%" width="100%">

      <!-- DIAGNOSI-->
      <tr height="33%">
        <td width="25%">
           <label style="font-size: 52px">{{'Megaride.DiagnosisDesc' | translate}}</label>
        </td>
        <td colspan="7">
            <md-input-container style="height:50px; font-size: 38px; width:90%; font-family: Helvetica">
              <md-select ng-model="parameters.diagnosis" ng-change="changeDiagnosis()" aria-label="Diagnosis" placeholder="{{'Megaride.DiagnosisDesc' | translate}}">
                <md-option ng-repeat="diag in diagnosis" ng-value="diag.type">
                  {{diag.description}}
                </md-option>
              </md-select>
            </md-input-container>

	</td>


      </tr>


      <tr height="33%">
        <td>
            <label style="font-size: 52px" ng-show="parameters.diagnosis != null">{{'Megaride.thickness' | translate}} (&mu;): </label>
        </td>
        <td width="10%">
            <input type='text' style="height:60px; font-size: 52px; width:90%; font-weight:bold; border:3px solid #1F497D"  ng-model="parameters.thickness" ng-change="updateOptions()" ng-virtual-keyboard="{size:5, kt: 'Numerico', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}" ng-show="parameters.diagnosis != null"/>
        </td>
        <td width="5%"></td> 
       <td width="30%"><label style="font-size: 52px" ng-show="isKMaxVisible()">{{'Megaride.coordKMax' | translate}} </label></td>
       
        <td colspan="4"><!--Slider raggio / coordinate -->
             <table ng-show="isKMaxVisible()">
                  <tr><td> <i style="color:#1F497D; font-size:50px">x,y</i></td><td>
                  <div>
                    <i style="color:#1F497D" class="fa fa-toggle-on active" ng-if="radiusEnable == true" ng-click="changeStatus();"></i>
                    <i style="color:#1F497D" class="fa fa-toggle-on fa-rotate-180 active" ng-if="radiusEnable == false" ng-click="changeStatus();"></i>
                  </div>

                  </td><td><i style="color:#1F497D; font-size:50		px">r</i></td></tr>
              </table>
        </td>

       
      </tr>

      <tr>
        
         <td >
           <label style="font-size: 52px" ng-show="isKMaxVisible()">{{'Megaride.kerApex' | translate}} (D): </label>
        </td>
        <td>
           <input type='text' style="height:60px; font-size: 52px; width:90%; font-weight:bold; border:3px solid #1F497D" ng-model="parameters.kerApex" ng-change="updateOptions()" ng-virtual-keyboard="{size:5, kt: 'Numerico', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}" ng-show="isKMaxVisible()"/>
        </td>
           
 <td></td> 
        </td>
        <td>
          <div ng-show="!radiusEnable && isKMaxVisible()"> <label style="font-size: 52px" ng-show="parameters.diagnosis != null">  {{'Megaride.cornVertexDistance' | translate}} (mm): </label>
          </div>
          <div ng-show="radiusEnable && isKMaxVisible()">
          <label style="font-size: 52px" ng-show="parameters.diagnosis != null">  {{'Megaride.cornVertexRadius' | translate}} (mm): </label>
          </div>
        </td>

        <td width="5%"> <div ng-show="!radiusEnable && isKMaxVisible()"> <label style="font-size: 52px" ng-show="parameters.diagnosis != null">X: </label></div></td>

        <td width="10%">
          <div ng-show="!radiusEnable && isKMaxVisible()">        
          
          <input type='text' style="height:60px; font-size: 52px; width:90%; font-weight:bold; border:3px solid #1F497D" ng-model="parameters.cornVertexDistanceX" ng-change="updateOptions()" ng-virtual-keyboard="{size:5, kt: 'Numerico', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}" ng-show="parameters.diagnosis != null"/>
        </div>

        <div ng-show="radiusEnable && isKMaxVisible()">          
          <!--
            <label style="font-size: 30px"></label>
          -->
          <input type='text' style="height:60px; font-size: 52px; width:90%; font-weight:bold; border:3px solid #1F497D" ng-model="parameters.cornVertexRadius" ng-change="updateOptions()" ng-virtual-keyboard="{size:5, kt: 'Numerico', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}" ng-show="isKMaxVisible()"/>
        </div>
        </td>

         <td width="5%"> 
		<div ng-show="!radiusEnable && isKMaxVisible()"> <label style="font-size: 52px" ng-show="parameters.diagnosis != null">Y: </label></div>
         </td>
          
         <td width="10%">
           <div ng-show="!radiusEnable && isKMaxVisible()">    
          <input type='text' style="height:60px; font-size: 52px; width:90%; font-weight:bold; border:3px solid #1F497D" ng-model="parameters.cornVertexDistanceY" ng-change="updateOptions()" ng-virtual-keyboard="{size:5, kt: 'Numerico', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}" ng-show="isKMaxVisible()"/>
           </div>
        </td>

      </tr> 




    </table>

<br>


    <div style="height:250px!important;" class="optionsCustomFast">
      <div class="row" style="height:70px!important;" ng-show="isTreatmentBarVisible()"> 
          <div flex layout='row' layout-padding layout-align="start center">
             <div flex style="max-width:450px;">
                 <div ng-show="parameters.treatment != null">{{'Megaride.intensity' | translate}} </div>
              </div>
             <div flex style="max-width:450px;">
                 <div ng-show="parameters.treatment != null">{{'Megaride.time' | translate}} </div>
              </div>
              
             <div flex style="max-width:700px;">
                 <div ng-show="parameters.treatment != null">{{'Megaride.spotDiam' | translate}}</div>
             </div>
              
             <div flex style="max-width:100px;">
            </div>
          </div>
       </div>

      <div class="row">
          <div flex layout='row' layout-padding layout-align="start center" ng-show="isTreatmentBarVisible()">
            <div flex style="max-width:450px;">
              <div ng-show="parameters.treatment != null">{{parameters.treatment.intensity}} mW / cm <small><sup>2</small></sup></div>
            </div>
            <div flex style="max-width:450px;">
              <div ng-show="parameters.treatment != null">{{parameters.treatment.duration}} min </div>
            </div>
            
            <div flex style="max-width:700px;">
              <div ng-show="parameters.treatment != null">{{parameters.treatment.spotDiameter}} mm </div>
            </div>

            <div>
                <!--  Pulsante ok -->
                <!--
                <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px"  ng-disabled="parameters.selectedId == -1" >
                  <img src="img/ok.png"></img>
                </md-button>
                -->

                <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="startTreatment()">
                 <md-icon md-font-icon="fa-arrow-circle-right" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #FFFFFF"></md-icon>
              </md-button>
            </div>

          </div>
    </div>

</div>
<br>




<!--  Pulsante ok -->


  <!-- Pulsante back -->
<!--
  <div class="prBack" ng-click="goToProtocolSelection()">
    <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:50px; height: 100px" ng-click="shutDown()">
          <md-icon md-font-icon="fa-arrow-circle-left" class="fa s32 md-primary md-hue-2" style="font-size:40px; color: #1F497D"></md-icon>
      </md-button>
  </div>
  -->
