 <div class="logo"> 
      <img class="img-center center-block LogoImg"/> 
</div>

<div class="verifyCalib">
  <h4>{{'SelectProtocol.DresdenOptions.Description' | translate}} </h4>
</div>

<!-- Protocol Claim -->
<div class="spSheet">
    
    <div class="row row-centered">
    	<br><br>
    </div>

	<div class="row row-centered">
        <md-button ng-style="{'font-size':'26px', height:'40px'}" class="md-raised" ng-click="setProtocolOption(1)">
            {{'SelectProtocol.DresdenOptions.OffLabel' | translate}}
        </md-button>
    </div>
    <div class="row row-centered">
    	<br><br>
    </div>
    <div class="row row-centered">
        <md-button ng-style="{'font-size':'26px', height:'40px'}" class="md-raised" ng-click="setProtocolOption(2)">
            {{'SelectProtocol.DresdenOptions.Protocol' | translate}}
        </md-button>
    </div>
</div>

<!--  Pulsante home -->
<div class="spHomeButton">
    <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="back()">
       <md-icon md-font-icon="fa-arrow-circle-left" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D"></md-icon>
    </md-button>
</div>