 <div class="logo"> 
      <img class="img-center center-block LogoImg"/> 
</div>

<div class="verifyCalib">
  <h4>{{'SelectProtocol.FullCustomOptions.Detail' | translate}} </h4>
</div>

<!--  Pulsante home -->
<div class="spHomeButton">
    <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="back()">
       <md-icon md-font-icon="fa-arrow-circle-left" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D"></md-icon>
    </md-button>
</div>

<!-- Protocol Claim -->
<div class="spSheet">

<br>
  <table>
    
    <tr>
        <!--Nome -->
        <td>
           <label style="font-size: 30px">{{'SelectProtocol.FullCustomOptions.Name' | translate}} </label>
        </td>
        <td>
           <input type='text' style="height:40px; font-size: 30px; width:200px; font-weight:bold; border:3px solid #1F497D" ng-model="protocolName"  ng-virtual-keyboard="{size:3, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}"/>
        </td>
        
        <!--Imbibizione -->
        <td>
           <label style="font-size: 30px">{{'Treatment.Steps.Imbibition' | translate}} (min)</label>
        </td>
        <td>
           <input type='text' style="height:40px; font-size: 30px; width:200px; font-weight:bold; border:3px solid #1F497D" ng-model="treatmentSummary.imbibition"  ng-virtual-keyboard="{size:3, kt: 'Numerico', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}" ng-change="recalcSteps()"/>
        </td>

    </tr>

    <tr>
      
    <!--Intensità -->
        <td>
           <label style="font-size: 30px">{{'Megaride.intensity' | translate}} (mW)</label>
        </td>
        <td>
           <input type='text' style="height:40px; font-size: 30px; width:200px; font-weight:bold; border:3px solid #1F497D" ng-model="treatmentSummary.meanIntensity"  ng-virtual-keyboard="{size:3, kt: 'Numerico', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}" ng-change="onChangeResume(SELECTION_TYPES.INTENSITY)"/>
        </td>
    
    <!--Durata -->
        <td>
           <label style="font-size: 30px">{{'SelectProtocol.FullCustomOptions.TotalDuration' | translate}} (min)</label>
        </td>
        <td>
           <input type='text' style="height:40px; font-size: 30px; width:200px; font-weight:bold; border:3px solid #1F497D" ng-model="treatmentSummary.totalDuration"  ng-virtual-keyboard="{size:3, kt: 'Numerico', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}" ng-change="onChangeResume(SELECTION_TYPES.DURATION)"/>
        </td>
        <td></td>
    </tr>
    <!--Potenza -->
    <tr>
        <td>
           <label style="font-size: 30px">{{'SelectProtocol.FullCustomOptions.TotalEnergy' | translate}} (J) </label>
        </td>
        <td>
           <input type='text' style="height:40px; font-size: 30px; width:200px; font-weight:bold; border:3px solid #1F497D" ng-model="treatmentSummary.totalEnergy"  ng-virtual-keyboard="{size:3, kt: 'Numerico', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}" ng-change="onChangeResume(SELECTION_TYPES.POWER)"/>
        </td>
   
  <!--Numero steps -->
   
        <td>
           <label style="font-size: 30px">{{'SelectProtocol.MegarideOptions.Description' | translate}} </label>
        </td>
        <td>
           <input type='text' style="height:40px; font-size: 30px; width:200px; font-weight:bold; border:3px solid #1F497D" ng-model="treatmentSummary.numSteps"  ng-virtual-keyboard="{size:3, kt: 'Numerico', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}" ng-change="recalcSteps()"/>
        </td>
        <td></td>
    </tr>


  </table>

<!--
  <div class="fcdtlblDetailsTreatment">
    <label style="font-size: 30px">{{'SelectProtocol.FullCustomOptions.Steps' | translate}} </label>
  </div>
-->

  <div class="fcdtlDetailsTreatment" ng-if="selectedTreatmentDetails != null && selectedTreatmentDetails.length>0">
    <table class="table-striped header-fixed">
      <thead>
          <tr><th></th><th width="30%" align="left">Tipo</th><th width="20%" align="left">Durata (m)</th><th width="20%" align="left">Intensità (mW)</th><th width="20%" align="left">Energia (J)</th></tr>
      </thead>
        <tr ng-repeat="item in selectedTreatmentDetails" ng-if="item.type != STEP_TYPES.PAUSE" height="50px">
          <td><md-icon md-font-icon="fa-arrow-right" class="fa s32 md-primary md-hue-2" style="font-size:20px; color: #1F497D"></md-icon></td>
          <!-- Tipo di step -->
          <td width = "20%">
            <!--
              <md-input-container>
                <md-select ng-model="item.type" aria-label="Favorite">
                  <md-option ng-repeat="stepType in STEP_TYPES" ng-value="stepType">
                    {{getStypeTypeDescription(stepType)}}
                  </md-option>
                </md-select>
              </md-input-container> 
            -->
            <div> {{getStypeTypeDescription(item.type)}}</div>
          </td>
          <!-- Durata -->
          <td> 
            <!--
              <input type='text' style="height:40px; font-size: 30px; width:100px; font-weight:bold; border:3px solid #1F497D" ng-model="item.duration"  ng-virtual-keyboard="{size:3, kt: 'Numerico', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}" ng-if="item.type== STEP_TYPES.IRRADIATION || item.type== STEP_TYPES.IMBIBITION"/>
            -->
            <div ng-if="item.type== STEP_TYPES.IRRADIATION || item.type== STEP_TYPES.IMBIBITION"> {{item.duration}}</div>
          </td>
          <!-- Intensità -->
          <td> 
            <!--
              <input type='text' style="height:40px; font-size: 30px; width:100px; font-weight:bold; border:3px solid #1F497D" ng-model="item.power"  ng-virtual-keyboard="{size:3, kt: 'Numerico', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}" ng-if="item.type== STEP_TYPES.IRRADIATION"/>
            -->
            <div ng-if="item.type== STEP_TYPES.IRRADIATION"> {{item.power}}</div>
          </td>

          <td>
            <!--
              <input type='text' style="height:40px; font-size: 30px; width:100px; font-weight:bold; border:3px solid #1F497D" ng-model="item.energy"  ng-virtual-keyboard="{size:3, kt: 'Numerico', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}" ng-if="item.type== STEP_TYPES.IRRADIATION"/>
            -->
            <div ng-if="item.type== STEP_TYPES.IRRADIATION"> {{item.energy}}</div>
          </td>
        </tr>  
    </table>
  </div>
</div>

<div class="fcSaveButton">
  <md-button aria-label="Favorite" ng-click="saveTreatment()" ng-if="protocolName != null && protocolName !='' && selectedTreatmentDetails != null && selectedTreatmentDetails.length > 0">
      <md-icon md-font-icon="fa-save" class="fa s16 md-primary md-hue-2" style="font-size:40px; color: #1F497D"></md-icon>
  </md-button>
</div>

<div class="fcOkButton">
  <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="startTreatment()" ng-if="selectedTreatmentDetails != null && selectedTreatmentDetails.length > 0">
      <img src="img/ok.png"></img>
    </md-button>
</div>