<div class="logo"> 
      <img class="img-center center-block LogoImg"/> 
</div>

<div class="verifyCalib">
  <h4>{{'SelectProtocol.FullCustomOptions.Description' | translate}} </h4>
</div>


<!-- Protocol Claim -->
<div class="spSheet">


    <!-- Lista dei trattamenti disponibili -->
    <div class="fcLblListTreatment">
        <label>{{'SelectProtocol.FullCustomOptions.SavedTreatments' | translate}} </label>
    </div>
    
<!--    
    <div class="fcAddTreatment">
        <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="NewProtocol()">
              <md-icon md-font-icon="fa-plus" class="fa s32 md-primary md-hue-2" style="font-size:32px; color: #1F497D"></md-icon>
            </md-button>
    </div>
-->
	<div class="fcList">
       <md-list flex>
            <!--<md-subheader class="md-no-sticky">Protocols</md-subheader> -->
            <md-list-item class="md-2-line" ng-repeat="item in fullCustoms" ng-click="setSelected($index)" ng-class="{fcselectedIndex: selectedIndex===$index}">
              <div>
                <p>{{item}}</p>
<!--
                <table>
                    <tr height="35"><td>a</td> <td rowspan="2" style="padding: 20px 20px 20px 20px;"><p>{{item}}</p></td></tr>
                    <tr><td>b</td></tr>
                </table>
-->
              </div>
              <md-divider ></md-divider>
            </md-list-item>
       </md-list> 
    </div>

    <!-- Dettaglio degli step del trattamento -->
  

    <div class="fcDetailTreatment" ng-show="selectedIndex != null">
        <table width= "100%">
        <!--
            <tr>
                <td colspan="2"><label>{{'SelectProtocol.FullCustomOptions.SavedTreatmentDetails' | translate}}</label></td>
            </tr>
        -->
            <tr ng-repeat="item in selectedTreatmentDetails" ng-if="item.type != 0 && item.type != 4 && item.type != 3">
                <td><md-icon md-font-icon="fa-arrow-right" class="fa s32 md-primary md-hue-2" style="font-size:20px; color: #1F497D"></md-icon></td>
                <td style="font-size:30px">{{getTreatmentItemDescription(item)}}</td>
            </tr>
        </table>
    </div>

    <!--Menu in basso al dettaglio -->
    <div class="fcmenuDetail" ng-show="selectedIndex != null">
        <table width="100%">
            <tr>
                <td style="font-size:34px; color: #1F497D"> 
                    <table width="100%">
                        <tr>
                            <td>{{'SelectProtocol.FullCustomOptions.TotalEnergy' | translate}}</td> 
                            <td><b>{{getTreamentJoules()}} J/cm<small><sup>2</small></sup></b></td>
                        </tr>
                        <tr>
                            <td width="700px">{{'SelectProtocol.FullCustomOptions.TotalDuration' | translate}} on </td>
                            <td width="350px"><b>{{getTreamentDuration()}} min</b></td>
                        </tr>
                        <tr>
                            <td>{{'SelectProtocol.FullCustomOptions.TotalDuration' | translate}} tot</td>
                            <td ><b>{{totalIrradiationDuration}} min</b></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="editProtocol()" ng-disabled="selectedIndex === null" ng-if="showEdit()">
                      <md-icon md-font-icon="fa-edit" class="fa s32 md-primary md-hue-2" style="font-size:48px; color: #1F497D"></md-icon>
                    </md-button>
                </td>
                <td>
                    <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="deleteProtocol()" ng-disabled="selectedIndex === null" ng-if="showEdit()">
                      <md-icon md-font-icon="fa-trash" class="fa s32 md-primary md-hue-2" style="font-size:48px; color: #1F497D"></md-icon>
                    </md-button>
                </td>
                <td>
                    <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:120px; height: 120px" ng-click="startProtocol()" ng-disabled="selectedIndex === null" ng-if="canDoTreatment">
                      <img src="img/ok.png" width="80px"></img>
                    </md-button>
                </td>
                <td></td>
            </tr>
        </table>
    </div>


   
   	<br><br>

    <div class="row row-centered">
        <md-divider ></md-divider>
        <br>
        <md-button ng-style="{'font-size':'26px', height:'40px'}" class="md-raised" ng-click="NewProtocol()" ng-if="showEdit()">
            {{'SelectProtocol.FullCustomOptions.New' | translate}}
        </md-button>
    </div>

</div>

<!--  Pulsante home -->
<div class="spHomeButton">
    <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="back()">
       <md-icon md-font-icon="fa-arrow-circle-left" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D"></md-icon>
    </md-button>
</div>
