﻿<div class="logo"> 
  <img class="img-center center-block LogoImg"> 
</div>

<div class="verifyCalib">
  <h4>{{'SelectProtocol.FullCustomOptions.Detail' | translate}} </h4>
</div>

<!--  Pulsante home -->
<div class="spHomeButton">
    <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="back()">
       <md-icon md-font-icon="fa-arrow-circle-left" class="fa s32 md-primary md-hue-2" style="font-size:60px; color: #1F497D"></md-icon>
    </md-button>
</div>

<!-- Protocol Claim -->
<div class="fcSheet" border="1">

<br>
  <table>
    
    <tr>
        <!--Nome -->
        <td width="250px">
           <label style="font-size: 30px">{{'SelectProtocol.FullCustomOptions.Name' | translate}} </label>
        </td>
        <td>
           <input type='text' style="height:40px; font-size: 30px; width:200px; font-weight:bold; border:3px solid #1F497D" ng-model="protocolName"  ng-virtual-keyboard="{size:3, kt: 'Testo', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}"/>
        </td>
        
        <!--Imbibizione -->
        <td>
           <label style="font-size: 30px">{{'Treatment.Steps.Imbibition' | translate}} (min)</label>
        </td>
        <td>
           <input type='text' style="height:40px; font-size: 30px; width:200px; font-weight:bold; border:3px solid #1F497D" ng-model="treatmentSummary.imbibition"  ng-virtual-keyboard="{size:4, kt: 'Numerico', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}" ng-change="recalcSteps()"/>
        </td>

    </tr>

    <tr>
      
    <!--Intensità -->
        <td>
           <label style="font-size: 30px">{{'Megaride.intensity' | translate}} (mW)</label>
        </td>
        <td >
           <input type='text' style="height:40px; font-size: 30px; width:200px; font-weight:bold; border:3px solid #1F497D" ng-model="treatmentSummary.meanIntensity"  ng-virtual-keyboard="{size:4, kt: 'Numerico', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}" ng-change="onChangeResume(SELECTION_TYPES.INTENSITY)"/>
        </td>
    
    <!--Durata -->
        <td width="450px">
           <label style="font-size: 30px">{{'SelectProtocol.FullCustomOptions.TotalDuration' | translate}} (min)</label>
        </td>
        <td>
           <input type='text' style="height:40px; font-size: 30px; width:200px; font-weight:bold; border:3px solid #1F497D" ng-model="treatmentSummary.totalDuration"  ng-virtual-keyboard="{size:4, kt: 'Numerico', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}" ng-change="onChangeResume(SELECTION_TYPES.DURATION)"/>
        </td>
        <td></td>
    </tr>
    <!--Potenza -->
    <tr>
        <td>
           <label style="font-size: 30px">{{'SelectProtocol.FullCustomOptions.TotalEnergy' | translate}} (J) </label>
        </td>
        <td>
           <input type='text' style="height:40px; font-size: 30px; width:200px; font-weight:bold; border:3px solid #1F497D" ng-model="treatmentSummary.totalEnergy"  ng-virtual-keyboard="{size:4, kt: 'Numerico', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}" ng-change="onChangeResume(SELECTION_TYPES.POWER)"/>
        </td>
   
  <!--Numero steps -->
   
        <td>
           <label style="font-size: 30px">{{'SelectProtocol.MegarideOptions.Description' | translate}} </label>
        </td>
        <td>
           <input type='text' style="height:40px; font-size: 30px; width:200px; font-weight:bold; border:3px solid #1F497D" ng-model="treatmentSummary.numSteps"  ng-virtual-keyboard="{size:4, kt: 'Numerico', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}" ng-change="recalcSteps()"/>
        </td>
        <td></td>
    </tr>

  <!-- Warning relativo ad energia massima-->
        <tr ng-if ="!isSaveEnabled() && treatmentSummary.totalEnergy != 0">
      
          <td align="right" valign="bottom">
            <md-icon md-font-icon="fa-exclamation-triangle" class="fa s32 md-primary md-hue-2" style="font-size:30px; height: 30px; color: red"></md-icon>
          </td>  
          <td valign="bottom">
            <label style="font-size: 30px; color:red; height: 30px;"> > {{MaxEnergy}} J</label> 
          </td>
      
          <td></td>
          <td></td>
          <td></td>
      </tr>

    <!--INIZIO SEZIONE PULSATA-->
    <tr ng-if="isPulsedVisible">
      <td><label style="font-size: 30px">{{'SelectProtocol.FullCustomOptions.Pulsed' | translate}}</label></td>
      <td>   
        <table>
          <tr>              
              <td width="10%"></td>
              <td><label style="font-size: 30px">OFF</label></td>
            <td><div>
                <i style="color:#1F497D; font-size:40px" class="fa fa-toggle-on fa-rotate-180 active" ng-if="isPulsedEnabled == false" ng-click="changeStatusPulsed();"></i>
                <i style="color:#1F497D; font-size:40px" class="fa fa-toggle-on active" ng-if="isPulsedEnabled == true" ng-click="changeStatusPulsed();"></i>
              </div>
            </td>
            <td><label style="font-size: 30px">ON</label></td>
          </tr>
        </table>            
        
      </td>
    </tr>
      
    <tr ng-if="isPulsedVisible && isPulsedEnabled">
        <td><label style="font-size: 30px">{{'SelectProtocol.FullCustomOptions.PulseDuration' | translate}} (s)</label></td>
        <td>
            <input type='text' style="height:40px; font-size: 30px; width:200px; font-weight:bold; border:3px solid #1F497D" ng-change="checkIrradiation()" ng-model="treatmentSummary.pulsed.irradiationTime"  ng-virtual-keyboard="{size:4, kt: 'Numerico', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}" ng-change="recalcSteps()"/>
         </td>
         <td><label style="font-size: 30px">{{'SelectProtocol.FullCustomOptions.PauseDuration' | translate}} (s)</label></td>
         <td>
             <input type='text' style="height:40px; font-size: 30px; width:200px; font-weight:bold; border:3px solid #1F497D" ng-change="checkPause()" ng-model="treatmentSummary.pulsed.pauseTime"  ng-virtual-keyboard="{size:4, kt: 'Numerico', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}" ng-change="recalcSteps()"/>
          </td>
      </tr>
    <!--FINE SEZIONE PULSATA-->

  </table>

<!--
  <div class="fcdtlblDetailsTreatment">
    <label style="font-size: 30px">{{'SelectProtocol.FullCustomOptions.Steps' | translate}} </label>
  </div>
-->

  <div class="fcdtlDetailsTreatment" ng-if="selectedTreatmentDetails != null && selectedTreatmentDetails.length>0">
    <table class="table-striped header-fixed" width="100%" height="100%">
      <thead style="font-size: 28px">
          <tr><th width="3%"></th><th width="38%" align="left">{{'SelectProtocol.FullCustomOptions.Type' | translate}}</th><th width="15%" align="left">{{'SelectProtocol.FullCustomOptions.Duration' | translate}} (m)</th><th width="20%" align="left">{{'SelectProtocol.FullCustomOptions.Intensity' | translate}} (mW)</th><th width="15%" align="left">{{'SelectProtocol.FullCustomOptions.Energy' | translate}} (J)</th><th width="15%" align="left" ng-if="isPulsedVisible">{{'SelectProtocol.FullCustomOptions.Pulsed' | translate}}</th></tr>
      </thead>
        <tr ng-repeat="item in selectedTreatmentDetails" ng-if="item.type != STEP_TYPES.PAUSE" height="50px">
          <td><md-icon md-font-icon="fa-arrow-right" class="fa s32 md-primary md-hue-2" style="font-size:20px; color: #1F497D"></md-icon></td>
          <!-- Tipo di step -->
          <td>
            <!--
              <md-input-container>
                <md-select ng-model="item.type" aria-label="Favorite">
                  <md-option ng-repeat="stepType in STEP_TYPES" ng-value="stepType">
                    {{getStypeTypeDescription(stepType)}}
                  </md-option>
                </md-select>
              </md-input-container> 
            -->
            <div class = "fcTableItem"> {{getStypeTypeDescription(item.type)}}</div>
          </td>
          <!-- Durata -->
          <td> 
            <!--
              <input type='text' style="height:40px; font-size: 30px; width:100px; font-weight:bold; border:3px solid #1F497D" ng-model="item.duration"  ng-virtual-keyboard="{size:4, kt: 'Numerico', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}" ng-if="item.type== STEP_TYPES.IRRADIATION || item.type== STEP_TYPES.IMBIBITION"/>
            -->
            <div class = "fcTableItem" ng-if="item.type== STEP_TYPES.IRRADIATION || item.type== STEP_TYPES.IMBIBITION"> {{item.duration}}</div>
          </td>
          <!-- Intensità -->
          <td> 
            <!--
              <input type='text' style="height:40px; font-size: 30px; width:100px; font-weight:bold; border:3px solid #1F497D" ng-model="item.power"  ng-virtual-keyboard="{size:4, kt: 'Numerico', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}" ng-if="item.type== STEP_TYPES.IRRADIATION"/>
            -->
            <div class = "fcTableItem" ng-if="item.type== STEP_TYPES.IRRADIATION"> {{item.power}}</div>
          </td>

          <td>
            <!--
              <input type='text' style="height:40px; font-size: 30px; width:100px; font-weight:bold; border:3px solid #1F497D" ng-model="item.energy"  ng-virtual-keyboard="{size:4, kt: 'Numerico', customClass: 'myCustomizedVkt', deadkeysOn: 'false'}" ng-if="item.type== STEP_TYPES.IRRADIATION"/>
            -->
            <div class = "fcTableItem" ng-if="item.type== STEP_TYPES.IRRADIATION"> {{item.energy}}</div>
          </td>
          
          <td ng-if="isPulsedVisible">
              
              <div class = "fcTableItem" ng-if="item.type== STEP_TYPES.IRRADIATION && item.isPulsed"> {{item.irradiationTime}} - {{item.pauseTime}}</div>
            </td>
        </tr>  
    </table>
  </div>
</div>

<div class="fcSaveButton">
  <md-button aria-label="Favorite" ng-click="saveTreatment()" ng-if="protocolName != null && protocolName !='' && selectedTreatmentDetails != null && selectedTreatmentDetails.length > 0 &&  treatmentSummary.totalEnergy <= MaxEnergy">
      <md-icon md-font-icon="fa-save" class="fa s16 md-primary md-hue-2" style="font-size:40px; color: #1F497D"></md-icon>
  </md-button>
</div>

<div class="fcOkButton" ng-show="false">
  <md-button class="md-icon-button md-accent" aria-label="Favorite" style="width:100px; height: 100px" ng-click="startTreatment()" ng-if="selectedTreatmentDetails != null && selectedTreatmentDetails.length > 0">
      <img src="img/ok.png" width="80px"></img>
    </md-button>
</div>